openapi: 3.1.0
info:
  title: Roompire API
  version: 0.1.0
  description: >
    Roompire PWA-first shared-house ledger, approval, FX, calendar, task, and audit API.
servers:
  - url: https://roompire.aialra.online/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development
security:
  - cookieAuth: []
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: roompire_session
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
    Role:
      type: string
      enum: [OWNER, ADMIN, MEMBER, VIEWER]
    CurrencyCode:
      type: string
      pattern: "^[A-Z]{3}$"
      examples: [USD, CNY]
    DecimalString:
      type: string
      pattern: '^-?\d+(\.\d+)?$'
    FxPolicy:
      type: string
      enum:
        [
          LOCK_AT_EXPENSE_DATE,
          ORIGINAL_CURRENCY_DEBT,
          MANUAL_RATE_WITH_APPROVAL,
          FX_DIFFERENCE_ADJUSTMENT,
        ]
    ApprovalPolicy:
      type: string
      enum: [PAYER_AND_EACH_DEBTOR, ALL_PARTICIPANTS, PAYER_ONLY]
    ApprovalDecision:
      type: string
      enum: [APPROVED, REJECTED, REQUEST_CHANGES]
    SplitMethod:
      type: string
      enum: [EQUAL, EXACT, PERCENTAGE, SHARES, ADJUSTMENT]
    CreateExpenseSplitMethod:
      type: string
      enum: [EQUAL, EXACT, PERCENTAGE, SHARES]
    ExpenseProposalStatus:
      type: string
      enum:
        [
          DRAFT,
          SUBMITTED,
          PARTIALLY_APPROVED,
          APPROVED,
          PARTIALLY_MATURED,
          MATURED_TO_LEDGER,
          REJECTED,
          DISPUTED,
          CANCELLED,
        ]
    ShareStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED, DISPUTED, MATURED_TO_LEDGER]
    LedgerTransactionType:
      type: string
      enum: [DEBT_CREATED, SETTLEMENT_RECORDED, REVERSAL, ADJUSTMENT, FX_ADJUSTMENT]
    DebtStatus:
      type: string
      enum: [OPEN, SETTLED, REVERSED]
    SettlementStatus:
      type: string
      enum: [SUBMITTED, CONFIRMED, REJECTED, CANCELLED]
    CalendarEventType:
      type: string
      enum:
        [
          TASK,
          CHORE,
          GROUP_ACTIVITY,
          BILL_DUE,
          REPAYMENT_DUE,
          SETTLEMENT_REMINDER,
          RECURRING_EXPENSE_GENERATION,
        ]
    WorkItemStatus:
      type: string
      enum: [OPEN, COMPLETED]
    TaskPriority:
      type: string
      enum: [LOW, NORMAL, HIGH]
    RecurrenceFrequency:
      type: string
      enum: [NONE, DAILY, WEEKLY, MONTHLY]
    User:
      type: object
      required: [id, email, displayName]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string }
        preferredLocale: { type: string, enum: [zh-CN, en-US] }
    Household:
      type: object
      required: [id, name, timezone, settlementCurrency, defaultLocale, fxPolicy, approvalPolicy]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
    HouseholdMembershipSummary:
      type: object
      required:
        [id, name, timezone, settlementCurrency, defaultLocale, fxPolicy, approvalPolicy, role]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
        role: { $ref: "#/components/schemas/Role" }
    CreateHouseholdRequest:
      type: object
      required: [name, timezone, settlementCurrency]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
    UpdateHouseholdRequest:
      type: object
      required: [name, timezone, settlementCurrency, defaultLocale, fxPolicy, approvalPolicy]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
    Member:
      type: object
      required: [id, userId, role, displayName]
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        role: { $ref: "#/components/schemas/Role" }
        displayName: { type: string }
        email: { type: string, format: email }
    CreateInviteRequest:
      type: object
      required: [role]
      properties:
        email: { type: string, format: email }
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
    UpdateMemberRoleRequest:
      type: object
      required: [role]
      properties:
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
    Invite:
      type: object
      required: [id, role, expiresAt]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email, nullable: true }
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
        expiresAt: { type: string, format: date-time }
    AcceptInviteRequest:
      type: object
      required: [token]
      properties:
        token: { type: string }
    DevSessionRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
        displayName: { type: string }
    ExpensePayerInput:
      type: object
      required: [userId, amountOriginal]
      properties:
        userId: { type: string, format: uuid }
        amountOriginal: { $ref: "#/components/schemas/DecimalString" }
    ExpenseParticipantInput:
      type: object
      required: [userId]
      properties:
        userId: { type: string, format: uuid }
        exactAmountOriginal:
          description: Required for each debtor when splitMethod is EXACT. Debtor exact amounts must not exceed the original amount; the payer's remainder is implicit.
          $ref: "#/components/schemas/DecimalString"
        percentage:
          description: Required for each debtor when splitMethod is PERCENTAGE. Debtor percentages must not exceed 100; the payer's remainder is implicit.
          $ref: "#/components/schemas/DecimalString"
        shareUnits:
          description: Required for each debtor when splitMethod is SHARES. The payer contributes one implicit share unit.
          $ref: "#/components/schemas/DecimalString"
    CreateExpenseProposalRequest:
      type: object
      required: [title, expenseDate, originalAmount, originalCurrency]
      properties:
        title: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string }
        merchant: { type: string }
        categoryId: { type: string, format: uuid }
        expenseDate: { type: string, format: date }
        dueDate: { type: string, format: date }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        fxRate:
          description: Required when original currency differs from household settlement currency.
          $ref: "#/components/schemas/DecimalString"
        participantUserIds:
          type: array
          description: Equal-split debtor user IDs. For EQUAL, provide participantUserIds or participantShares.
          minItems: 1
          maxItems: 20
          items: { type: string, format: uuid }
        participantShares:
          type: array
          description: Debtor rows for EQUAL or weighted split methods. Required for EXACT, PERCENTAGE, and SHARES.
          minItems: 1
          maxItems: 20
          items: { $ref: "#/components/schemas/ExpenseParticipantInput" }
        fileIds:
          type: array
          description: Uploaded receipt/evidence files to attach as receipts at proposal creation.
          maxItems: 10
          items: { type: string, format: uuid }
        splitMethod:
          allOf:
            - { $ref: "#/components/schemas/CreateExpenseSplitMethod" }
          default: EQUAL
    CreateTaskExpenseProposalRequest:
      type: object
      required: [expenseDate, originalAmount, originalCurrency]
      properties:
        title:
          type: string
          minLength: 2
          maxLength: 120
          description: Defaults to the task title when omitted.
        description:
          type: string
          description: Defaults to the task description when omitted.
        merchant: { type: string }
        categoryId: { type: string, format: uuid }
        expenseDate: { type: string, format: date }
        dueDate:
          type: string
          format: date
          description: Defaults to the task due date when present.
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        fxRate:
          description: Required when original currency differs from household settlement currency.
          $ref: "#/components/schemas/DecimalString"
        participantUserIds:
          type: array
          description: Equal-split debtor user IDs. For EQUAL, provide participantUserIds or participantShares.
          minItems: 1
          maxItems: 20
          items: { type: string, format: uuid }
        participantShares:
          type: array
          description: Debtor rows for EQUAL or weighted split methods. Required for EXACT, PERCENTAGE, and SHARES.
          minItems: 1
          maxItems: 20
          items: { $ref: "#/components/schemas/ExpenseParticipantInput" }
        fileIds:
          type: array
          description: Uploaded receipt/evidence files to attach as receipts at proposal creation.
          maxItems: 10
          items: { type: string, format: uuid }
        splitMethod:
          allOf:
            - { $ref: "#/components/schemas/CreateExpenseSplitMethod" }
          default: EQUAL
    CreateExpenseProposalRevisionRequest:
      allOf:
        - { $ref: "#/components/schemas/CreateExpenseProposalRequest" }
        - type: object
          properties:
            revisionReason: { type: string, minLength: 1, maxLength: 1000 }
    ExpensePayer:
      type: object
      required: [id, userId, amountOriginal, amountSettlement, isPrimary]
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        amountOriginal: { $ref: "#/components/schemas/DecimalString" }
        amountSettlement: { $ref: "#/components/schemas/DecimalString" }
        isPrimary: { type: boolean }
    ExpenseShare:
      type: object
      required:
        [
          id,
          debtorUserId,
          creditorUserId,
          shareOriginalAmount,
          shareSettlementAmount,
          shareCurrency,
          settlementCurrency,
          percentage,
          shareUnits,
          status,
        ]
      properties:
        id: { type: string, format: uuid }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        shareOriginalAmount: { $ref: "#/components/schemas/DecimalString" }
        shareSettlementAmount: { $ref: "#/components/schemas/DecimalString" }
        shareCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        percentage:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          nullable: true
        shareUnits:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          nullable: true
        status: { $ref: "#/components/schemas/ShareStatus" }
        ledgerObligationId: { type: string, format: uuid, nullable: true }
    ProposalApproval:
      type: object
      required: [id, shareId, approverUserId, decision, comment, createdAt]
      properties:
        id: { type: string, format: uuid }
        shareId: { type: string, format: uuid, nullable: true }
        approverUserId: { type: string, format: uuid }
        decision: { $ref: "#/components/schemas/ApprovalDecision" }
        comment: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
    ProposalComment:
      type: object
      required: [id, shareId, authorUserId, body, createdAt]
      properties:
        id: { type: string, format: uuid }
        shareId: { type: string, format: uuid, nullable: true }
        authorUserId: { type: string, format: uuid }
        body: { type: string }
        createdAt: { type: string, format: date-time }
    CreateProposalCommentRequest:
      type: object
      required: [body]
      properties:
        body: { type: string, minLength: 1, maxLength: 1000 }
        shareId:
          type: string
          format: uuid
          description: Optional share-specific comment target. Must belong to this proposal.
    File:
      type: object
      required:
        [
          id,
          householdId,
          uploadedByUserId,
          storageProvider,
          originalFilename,
          mimeType,
          sizeBytes,
          sha256,
          createdAt,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        uploadedByUserId: { type: string, format: uuid }
        storageProvider: { type: string, examples: [local, s3] }
        originalFilename: { type: string }
        mimeType: { type: string, examples: [application/pdf, image/png] }
        sizeBytes: { type: integer, minimum: 1, maximum: 5242880 }
        sha256: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
    ProposalFile:
      type: object
      required:
        [id, purpose, uploadedByUserId, originalFilename, mimeType, sizeBytes, sha256, createdAt]
      properties:
        id: { type: string, format: uuid }
        purpose: { type: string, enum: [receipt, evidence, other] }
        uploadedByUserId: { type: string, format: uuid }
        originalFilename: { type: string }
        mimeType: { type: string }
        sizeBytes: { type: integer }
        sha256: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
    PresignFileUploadRequest:
      type: object
      required: [originalFilename, mimeType, sizeBytes]
      properties:
        originalFilename: { type: string, minLength: 1, maxLength: 180 }
        mimeType:
          type: string
          enum: [image/jpeg, image/png, image/webp, application/pdf]
        sizeBytes: { type: integer, minimum: 1, maximum: 5242880 }
    PresignFileUploadResponse:
      type: object
      required: [file, upload]
      properties:
        file: { $ref: "#/components/schemas/File" }
        upload:
          type: object
          required: [fileId, method, uploadUrl, headers]
          properties:
            fileId: { type: string, format: uuid }
            method: { type: string, enum: [PUT] }
            uploadUrl: { type: string }
            headers:
              type: object
              additionalProperties: { type: string }
    CompleteFileUploadRequest:
      type: object
      required: [fileId]
      properties:
        fileId: { type: string, format: uuid }
        proposalId:
          type: string
          format: uuid
          description: Optional proposal to attach this uploaded file to.
        purpose: { type: string, enum: [receipt, evidence, other], default: receipt }
    FileResponse:
      type: object
      required: [file]
      properties:
        file: { $ref: "#/components/schemas/File" }
    FileDownloadUrlResponse:
      type: object
      required: [file, downloadUrl, expiresAt]
      properties:
        file: { $ref: "#/components/schemas/File" }
        downloadUrl: { type: string }
        expiresAt: { type: string, format: date-time }
    ExpenseProposal:
      type: object
      required:
        [
          id,
          title,
          status,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          splitMethod,
          fxPolicy,
          revisionNumber,
          supersedesProposalId,
          shares,
          payers,
          approvals,
          comments,
          files,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        createdByUserId: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        merchant: { type: string, nullable: true }
        category:
          type: object
          nullable: true
          properties:
            id: { type: string, format: uuid }
            key: { type: string }
            nameEn: { type: string }
            nameZhCn: { type: string }
        expenseDate: { type: string, format: date }
        dueDate: { type: string, format: date, nullable: true }
        status: { $ref: "#/components/schemas/ExpenseProposalStatus" }
        revisionNumber: { type: integer, minimum: 1 }
        supersedesProposalId: { type: string, format: uuid, nullable: true }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        splitMethod: { $ref: "#/components/schemas/SplitMethod" }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        fxRate: { $ref: "#/components/schemas/DecimalString" }
        fxRateDate: { type: string, format: date }
        fxProvider: { type: string }
        fxLockedAt: { type: string, format: date-time, nullable: true }
        payers:
          type: array
          items: { $ref: "#/components/schemas/ExpensePayer" }
        shares:
          type: array
          items: { $ref: "#/components/schemas/ExpenseShare" }
        approvals:
          type: array
          items: { $ref: "#/components/schemas/ProposalApproval" }
        comments:
          type: array
          items: { $ref: "#/components/schemas/ProposalComment" }
        files:
          type: array
          items: { $ref: "#/components/schemas/ProposalFile" }
    ExpenseProposalListResponse:
      type: object
      required: [proposals]
      properties:
        proposals:
          type: array
          items: { $ref: "#/components/schemas/ExpenseProposal" }
    ExpenseProposalResponse:
      type: object
      required: [proposal]
      properties:
        proposal: { $ref: "#/components/schemas/ExpenseProposal" }
    ApproveExpenseShareRequest:
      type: object
      properties:
        comment: { type: string, maxLength: 1000 }
    RejectExpenseShareRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1, maxLength: 1000 }
    RequestChangesExpenseShareRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1, maxLength: 1000 }
    BalanceEdge:
      type: object
      required: [debtorUserId, creditorUserId, amount, currency, obligationCount]
      properties:
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        obligationCount: { type: integer, minimum: 1 }
    LedgerObligationAllocation:
      type: object
      required: [id, settlementId, amountApplied]
      properties:
        id: { type: string, format: uuid }
        settlementId: { type: string, format: uuid }
        amountApplied: { $ref: "#/components/schemas/DecimalString" }
    LedgerObligationSourceTransaction:
      type: object
      required: [id, type, occurredAt]
      properties:
        id: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/LedgerTransactionType" }
        description: { type: string, nullable: true }
        sourceType: { type: string, nullable: true }
        sourceId: { type: string, format: uuid, nullable: true }
        occurredAt: { type: string, format: date-time }
    LedgerObligation:
      type: object
      required:
        [
          id,
          householdId,
          ledgerTransactionId,
          debtorUserId,
          creditorUserId,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          remainingAmount,
          status,
          createdAt,
          sourceTransaction,
          allocations,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        ledgerTransactionId: { type: string, format: uuid }
        sourceShareId: { type: string, format: uuid, nullable: true }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        remainingAmount: { $ref: "#/components/schemas/DecimalString" }
        status: { $ref: "#/components/schemas/DebtStatus" }
        dueDate: { type: string, format: date, nullable: true }
        createdAt: { type: string, format: date-time }
        settledAt: { type: string, format: date-time, nullable: true }
        sourceTransaction: { $ref: "#/components/schemas/LedgerObligationSourceTransaction" }
        allocations:
          type: array
          items: { $ref: "#/components/schemas/LedgerObligationAllocation" }
    LedgerTransactionObligation:
      type: object
      required:
        [
          id,
          debtorUserId,
          creditorUserId,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          remainingAmount,
          status,
        ]
      properties:
        id: { type: string, format: uuid }
        sourceShareId: { type: string, format: uuid, nullable: true }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        remainingAmount: { $ref: "#/components/schemas/DecimalString" }
        status: { $ref: "#/components/schemas/DebtStatus" }
    LedgerTransactionSettlement:
      type: object
      required: [id, payerUserId, payeeUserId, amount, currency, status]
      properties:
        id: { type: string, format: uuid }
        payerUserId: { type: string, format: uuid }
        payeeUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        status: { $ref: "#/components/schemas/SettlementStatus" }
    LedgerTransaction:
      type: object
      required: [id, householdId, type, occurredAt, createdAt, obligations, settlements]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/LedgerTransactionType" }
        description: { type: string, nullable: true }
        sourceType: { type: string, nullable: true }
        sourceId: { type: string, format: uuid, nullable: true }
        createdByUserId: { type: string, format: uuid, nullable: true }
        occurredAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        reversesTransactionId: { type: string, format: uuid, nullable: true }
        obligations:
          type: array
          items: { $ref: "#/components/schemas/LedgerTransactionObligation" }
        settlements:
          type: array
          items: { $ref: "#/components/schemas/LedgerTransactionSettlement" }
    BalanceListResponse:
      type: object
      required: [balances]
      properties:
        balances:
          type: array
          items: { $ref: "#/components/schemas/BalanceEdge" }
    LedgerObligationListResponse:
      type: object
      required: [obligations]
      properties:
        obligations:
          type: array
          items: { $ref: "#/components/schemas/LedgerObligation" }
    LedgerTransactionListResponse:
      type: object
      required: [transactions]
      properties:
        transactions:
          type: array
          items: { $ref: "#/components/schemas/LedgerTransaction" }
    LedgerTransactionResponse:
      type: object
      required: [transaction]
      properties:
        transaction: { $ref: "#/components/schemas/LedgerTransaction" }
    CreateLedgerAdjustmentRequest:
      type: object
      required: [debtorUserId, creditorUserId, amount, currency, occurredAt, reason]
      properties:
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        amount:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          description: Positive adjustment amount, up to six decimal places.
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        occurredAt: { type: string, format: date }
        dueDate: { type: string, format: date }
        reason: { type: string, minLength: 3, maxLength: 500 }
    ReverseLedgerObligationRequest:
      type: object
      required: [reason, occurredAt]
      properties:
        reason: { type: string, minLength: 3, maxLength: 500 }
        occurredAt: { type: string, format: date }
    SettlementAllocation:
      type: object
      required: [id, settlementId, debtObligationId, amountApplied]
      properties:
        id: { type: string, format: uuid }
        settlementId: { type: string, format: uuid }
        debtObligationId: { type: string, format: uuid }
        amountApplied: { $ref: "#/components/schemas/DecimalString" }
    Settlement:
      type: object
      required:
        [
          id,
          householdId,
          ledgerTransactionId,
          payerUserId,
          payeeUserId,
          amount,
          currency,
          settlementDate,
          method,
          status,
          createdByUserId,
          createdAt,
          sourceTransaction,
          allocations,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        ledgerTransactionId: { type: string, format: uuid }
        payerUserId: { type: string, format: uuid }
        payeeUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementDate: { type: string, format: date }
        method: { type: string }
        status: { $ref: "#/components/schemas/SettlementStatus" }
        note: { type: string, nullable: true }
        createdByUserId: { type: string, format: uuid }
        createdAt: { type: string, format: date-time }
        sourceTransaction: { $ref: "#/components/schemas/LedgerObligationSourceTransaction" }
        allocations:
          type: array
          items: { $ref: "#/components/schemas/SettlementAllocation" }
    CreateObligationSettlementRequest:
      type: object
      required: [debtObligationId, amount, settlementDate]
      properties:
        debtObligationId: { type: string, format: uuid }
        amount:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          description: Positive amount, up to six decimal places, not exceeding the obligation remaining amount.
        settlementDate: { type: string, format: date }
        method: { type: string, minLength: 1, maxLength: 60, default: manual }
        note: { type: string, maxLength: 500 }
    CreateSuggestedSettlementRequest:
      type: object
      required: [payeeUserId, amount, currency, settlementDate]
      properties:
        payeeUserId:
          type: string
          format: uuid
          description: Creditor receiving the suggested transfer.
        amount:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          description: Positive amount, up to six decimal places, not exceeding matching open obligations for the payer, payee, and currency.
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementDate: { type: string, format: date }
        method: { type: string, minLength: 1, maxLength: 60, default: manual }
        note: { type: string, maxLength: 500 }
    CreateSettlementRequest:
      oneOf:
        - { $ref: "#/components/schemas/CreateObligationSettlementRequest" }
        - { $ref: "#/components/schemas/CreateSuggestedSettlementRequest" }
    SettlementResponse:
      type: object
      required: [settlement]
      properties:
        settlement: { $ref: "#/components/schemas/Settlement" }
    SettlementListResponse:
      type: object
      required: [settlements]
      properties:
        settlements:
          type: array
          items: { $ref: "#/components/schemas/Settlement" }
    SettlementSuggestion:
      type: object
      required:
        [
          debtorUserId,
          creditorUserId,
          amount,
          currency,
          debtorOpenObligationCount,
          creditorOpenObligationCount,
        ]
      properties:
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        debtorOpenObligationCount: { type: integer, minimum: 1 }
        creditorOpenObligationCount: { type: integer, minimum: 1 }
    SettlementSuggestionListResponse:
      type: object
      required: [suggestions]
      properties:
        suggestions:
          type: array
          items: { $ref: "#/components/schemas/SettlementSuggestion" }
    CalendarEventLink:
      type: object
      required: [id, eventId, linkedType, linkedId, createdAt]
      properties:
        id: { type: string, format: uuid }
        eventId: { type: string, format: uuid }
        linkedType:
          type: string
          examples: [task, expense_proposal]
        linkedId: { type: string, format: uuid }
        createdAt: { type: string, format: date-time }
    CalendarEvent:
      type: object
      required:
        [
          id,
          householdId,
          type,
          title,
          startAt,
          allDay,
          timezone,
          status,
          createdAt,
          updatedAt,
          links,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/CalendarEventType" }
        title: { type: string }
        description: { type: string, nullable: true }
        startAt: { type: string, format: date-time }
        endAt: { type: string, format: date-time, nullable: true }
        allDay: { type: boolean }
        timezone: { type: string, example: America/Los_Angeles }
        status: { $ref: "#/components/schemas/WorkItemStatus" }
        createdByUserId: { type: string, format: uuid, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        links:
          type: array
          items: { $ref: "#/components/schemas/CalendarEventLink" }
    CreateCalendarEventRequest:
      type: object
      required: [title, startAt]
      properties:
        title: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string, maxLength: 1000 }
        type:
          allOf:
            - { $ref: "#/components/schemas/CalendarEventType" }
          default: GROUP_ACTIVITY
        startAt: { type: string, format: date-time }
        endAt: { type: string, format: date-time }
        allDay: { type: boolean, default: false }
        recurrenceFrequency:
          allOf:
            - { $ref: "#/components/schemas/RecurrenceFrequency" }
          default: NONE
          description: Finite recurrence cadence. Count includes the first created event.
        recurrenceCount:
          type: integer
          minimum: 1
          maximum: 12
          default: 1
    CalendarEventResponse:
      type: object
      required: [event]
      properties:
        event: { $ref: "#/components/schemas/CalendarEvent" }
    CalendarEventListResponse:
      type: object
      required: [events]
      properties:
        events:
          type: array
          items: { $ref: "#/components/schemas/CalendarEvent" }
    TaskAssignment:
      type: object
      required: [id, taskId, assignedUserId, role, status]
      properties:
        id: { type: string, format: uuid }
        taskId: { type: string, format: uuid }
        assignedUserId: { type: string, format: uuid }
        role: { type: string, default: OWNER }
        status: { type: string, examples: [ASSIGNED, COMPLETED] }
    Task:
      type: object
      required:
        [
          id,
          householdId,
          title,
          status,
          priority,
          createdByUserId,
          createdAt,
          updatedAt,
          assignments,
          linkedEventIds,
          linkedProposalIds,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        status: { $ref: "#/components/schemas/WorkItemStatus" }
        priority: { $ref: "#/components/schemas/TaskPriority" }
        categoryId: { type: string, format: uuid, nullable: true }
        dueAt: { type: string, format: date-time, nullable: true }
        createdByUserId: { type: string, format: uuid }
        completedByUserId: { type: string, format: uuid, nullable: true }
        completedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        assignments:
          type: array
          items: { $ref: "#/components/schemas/TaskAssignment" }
        linkedEventIds:
          type: array
          items: { type: string, format: uuid }
        linkedProposalIds:
          type: array
          items: { type: string, format: uuid }
    CreateTaskRequest:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string, maxLength: 1000 }
        priority:
          allOf:
            - { $ref: "#/components/schemas/TaskPriority" }
          default: NORMAL
        dueAt: { type: string, format: date-time }
        assignedUserIds:
          type: array
          maxItems: 20
          items: { type: string, format: uuid }
        recurrenceFrequency:
          allOf:
            - { $ref: "#/components/schemas/RecurrenceFrequency" }
          default: NONE
          description: Finite recurrence cadence. Count includes the first created task and requires dueAt when not NONE.
        recurrenceCount:
          type: integer
          minimum: 1
          maximum: 12
          default: 1
    CompleteTaskRequest:
      type: object
      properties:
        completedAt: { type: string, format: date-time }
    TaskResponse:
      type: object
      required: [task]
      properties:
        task: { $ref: "#/components/schemas/Task" }
    TaskListResponse:
      type: object
      required: [tasks]
      properties:
        tasks:
          type: array
          items: { $ref: "#/components/schemas/Task" }
paths:
  /session:
    get:
      summary: Get current session
      responses:
        "200":
          description: Current session or null user
  /dev/session:
    post:
      summary: Set local developer session user
      description: Dev-only endpoint for local MVP testing. Disabled in production unless explicitly enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DevSessionRequest" }
      responses:
        "200": { description: Developer session set }
  /households:
    get:
      summary: List current user's households
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [households]
                properties:
                  households:
                    type: array
                    items: { $ref: "#/components/schemas/HouseholdMembershipSummary" }
    post:
      summary: Create household
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateHouseholdRequest" }
      responses:
        "201":
          description: Created
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}:
    patch:
      summary: Update household settings
      description: Owners and admins can update household locale, timezone, currency, FX, and approval policy.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateHouseholdRequest" }
      responses:
        "200":
          description: Household settings updated
          content:
            application/json:
              schema:
                type: object
                required: [household]
                properties:
                  household: { $ref: "#/components/schemas/Household" }
        "403":
          description: Caller is not owner/admin
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/members:
    get:
      summary: List household members
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [members]
                properties:
                  members:
                    type: array
                    items: { $ref: "#/components/schemas/Member" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/members/{membershipId}:
    patch:
      summary: Update household member role
      description: Owners can update non-self member roles; admins can manage regular members and viewers.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: membershipId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateMemberRoleRequest" }
      responses:
        "200":
          description: Member role updated
          content:
            application/json:
              schema:
                type: object
                required: [membership]
                properties:
                  membership: { $ref: "#/components/schemas/Member" }
        "400":
          description: Invalid role change, self-mutation, or last-owner guard
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller cannot manage the target member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Member not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    delete:
      summary: Remove household member
      description: Owners can remove non-self members; admins can remove regular members and viewers.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: membershipId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Member removed
          content:
            application/json:
              schema:
                type: object
                required: [membership]
                properties:
                  membership: { $ref: "#/components/schemas/Member" }
        "400":
          description: Self-removal or last-owner guard
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller cannot manage the target member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Member not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/invites:
    post:
      summary: Create household invite
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateInviteRequest" }
      responses:
        "201":
          description: Invite created; token is returned once.
          content:
            application/json:
              schema:
                type: object
                required: [invite, token]
                properties:
                  invite: { $ref: "#/components/schemas/Invite" }
                  token: { type: string }
        "403":
          description: Caller is not owner/admin
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /invites/accept:
    post:
      summary: Accept an invite code as the current user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AcceptInviteRequest" }
      responses:
        "200": { description: Invite accepted }
        "404":
          description: Invalid or expired invite
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/proposals:
    get:
      summary: List expense proposals
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: status
          schema: { $ref: "#/components/schemas/ExpenseProposalStatus" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalListResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      summary: Create expense proposal
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateExpenseProposalRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer or otherwise cannot create proposals
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Idempotency-Key is already in progress or was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/proposals/{proposalId}:
    get:
      summary: Get expense proposal detail
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: proposalId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "404":
          description: Not found or inaccessible proposal
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/proposals/{proposalId}/submit:
    post:
      summary: Submit a draft proposal for approval
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: proposalId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Submitted }
  /households/{householdId}/expenses/proposals/{proposalId}/comments:
    post:
      summary: Add a comment to an expense proposal
      description: Owners, admins, and members can add proposal comments. Viewers can read proposal detail but cannot comment. Matching duplicate Idempotency-Key requests replay the stored proposal response.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: proposalId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateProposalCommentRequest" }
      responses:
        "201":
          description: Comment added
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error, invalid shareId, or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer or otherwise cannot comment
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible proposal
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Idempotent request is in progress or the Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/proposals/{proposalId}/revisions:
    post:
      summary: Submit a revised expense proposal
      description: The original proposal creator can revise a disputed or rejected proposal that has not created ledger obligations. The old proposal is cancelled, the new proposal is submitted with an incremented revisionNumber and supersedesProposalId, and duplicate matching Idempotency-Key requests replay the stored proposal response.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: proposalId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateExpenseProposalRevisionRequest" }
      responses:
        "201":
          description: Revised proposal submitted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not the original proposal creator
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible proposal
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Proposal is not revisionable, has ledger obligations, already has a newer revision, or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/shares/{shareId}/approve:
    post:
      summary: Approve own assigned expense share and mature it to the ledger
      description: The assigned debtor approves their share. When maturity creates a DebtObligation with a due date, the service also creates a linked REPAYMENT_DUE calendar event.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: shareId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApproveExpenseShareRequest" }
      responses:
        "200":
          description: Approved and matured when eligible
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not the assigned debtor
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible share
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Share/proposal is no longer actionable, the idempotent request is in progress, or the Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/shares/{shareId}/reject:
    post:
      summary: Reject own assigned expense share
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: shareId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RejectExpenseShareRequest" }
      responses:
        "200":
          description: Rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not the assigned debtor
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible share
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Share/proposal is no longer actionable, the idempotent request is in progress, or the Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/shares/{shareId}/request-changes:
    post:
      summary: Request changes for own assigned expense share
      description: The assigned debtor can move their pending share to DISPUTED and the proposal to DISPUTED without creating formal ledger obligations. The creator can then submit a revised proposal.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: shareId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RequestChangesExpenseShareRequest" }
      responses:
        "200":
          description: Changes requested
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not the assigned debtor
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible share
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Share/proposal is no longer actionable, the idempotent request is in progress, or the Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/files/presign-upload:
    post:
      summary: Create a private file upload intent
      description: Owners, admins, and members can request a local/private upload URL for receipt or evidence files. Current MVP accepts PDF and common image types up to 5 MB.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PresignFileUploadRequest" }
      responses:
        "201":
          description: Upload intent created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PresignFileUploadResponse" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer or otherwise cannot upload files
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/files/{fileId}/upload:
    put:
      summary: Upload file bytes for a private file intent
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: fileId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/pdf:
            schema: { type: string, format: binary }
          image/png:
            schema: { type: string, format: binary }
          image/jpeg:
            schema: { type: string, format: binary }
          image/webp:
            schema: { type: string, format: binary }
      responses:
        "200":
          description: File bytes stored
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FileResponse" }
        "400":
          description: MIME type or size mismatch
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not the uploader or cannot upload files
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: File intent not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/files/complete-upload:
    post:
      summary: Finalize a private upload and optionally attach it to a proposal
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompleteFileUploadRequest" }
      responses:
        "200":
          description: File upload completed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FileResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not the uploader or cannot complete files
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: File or proposal not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: File bytes are not uploaded yet or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/files/{fileId}/download-url:
    get:
      summary: Get a short-lived private file download URL
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: fileId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Signed download URL
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FileDownloadUrlResponse" }
        "404":
          description: File not found or inaccessible
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/balances:
    get:
      summary: Get formal ledger balances only
      description: Derived from open debt obligations and settlement allocations; pending or rejected proposals are excluded.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BalanceListResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/ledger/obligations:
    get:
      summary: List formal ledger obligations
      description: Returns append-only debt obligations created from approved shares, ordered newest first.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LedgerObligationListResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/ledger/transactions:
    get:
      summary: List formal ledger transactions
      description: Returns append-only ledger effects with nested obligations and settlements, ordered newest first.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LedgerTransactionListResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/ledger/adjustments:
    post:
      summary: Create a manual ledger adjustment
      description: Owners and admins can create an audited adjustment transaction that opens a new debt obligation.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateLedgerAdjustmentRequest" }
      responses:
        "201":
          description: Adjustment transaction created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LedgerTransactionResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not an owner/admin or selected member is a viewer
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Household or selected member not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Idempotent request is in progress or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/ledger/obligations/{obligationId}/reverse:
    post:
      summary: Reverse an unallocated open obligation
      description: Owners and admins can append a reversal transaction and mark an open obligation as reversed when no confirmed settlement allocation has touched it.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: obligationId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ReverseLedgerObligationRequest" }
      responses:
        "200":
          description: Reversal transaction created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LedgerTransactionResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not an owner/admin
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Household or obligation not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Obligation is not open, has settlement allocations, idempotent request is in progress, or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/settlements:
    get:
      summary: List settlement records
      description: Returns submitted, confirmed, rejected, and cancelled settlements for the household.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SettlementListResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      summary: Submit a settlement against open obligations
      description: The debtor records either a single-obligation payment or a suggested transfer by payee and currency. Balances are reduced only after creditor confirmation.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateSettlementRequest" }
      responses:
        "201":
          description: Settlement submitted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SettlementResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer, is not the debtor for the obligation, or uses a viewer as transfer payee
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Obligation not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Obligation is not open, no matching open obligations exist, settlement overpays, idempotent request is in progress, or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/settlements/{settlementId}/confirm:
    post:
      summary: Confirm a submitted settlement
      description: The creditor confirms payment, creates one or more settlement allocations, and reduces matching open obligation balances.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: settlementId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Settlement confirmed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SettlementResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer or is not the creditor for the settlement
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Settlement not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Settlement is not confirmable, obligation is not open, no matching open obligations exist, settlement overpays, idempotent request is in progress, or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/settlements/{settlementId}/reject:
    post:
      summary: Reject a submitted settlement
      description: The creditor rejects a pending settlement without changing obligation balances.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: settlementId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Settlement rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SettlementResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer or is not the creditor for the settlement
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Settlement not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Settlement is not rejectable, idempotent request is in progress, or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/settlement-suggestions:
    get:
      summary: List optimized settlement suggestions
      description: Nets all open obligations by currency and returns a minimal set of debtor-to-creditor transfers.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SettlementSuggestionListResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/calendar/events:
    get:
      summary: List calendar events
      description: Returns household events ordered by start time. Active household members, including viewers, can read.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: start
          schema: { type: string, format: date-time }
        - in: query
          name: end
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CalendarEventListResponse" }
        "400":
          description: Invalid query
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      summary: Create calendar event
      description: Owners, admins, and members can create household calendar events. Optional finite recurrence materializes additional event instances and links them to a recurrence rule. Viewers are read-only.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateCalendarEventRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CalendarEventResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Idempotent request is in progress or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/tasks:
    get:
      summary: List tasks
      description: Returns household tasks with assignments, linked event IDs, and linked expense proposal IDs. Active household members, including viewers, can read.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: status
          schema: { $ref: "#/components/schemas/WorkItemStatus" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskListResponse" }
        "400":
          description: Invalid query
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      summary: Create task
      description: Owners, admins, and members can create household tasks. If dueAt is present, the API also creates a linked TASK calendar event. Optional finite recurrence requires dueAt and materializes additional task instances with linked TASK events.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateTaskRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskResponse" }
        "400":
          description: Validation error, invalid assignee, recurring task without dueAt, or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Idempotent request is in progress or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/tasks/{taskId}/complete:
    post:
      summary: Complete task
      description: Owners, admins, and members can complete a household task. Linked calendar TASK events are marked completed.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: taskId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompleteTaskRequest" }
      responses:
        "200":
          description: Completed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TaskResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Task not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Idempotent request is in progress or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/tasks/{taskId}/create-expense-proposal:
    post:
      summary: Create an expense proposal from a task
      description: Owners and admins can create a linked submitted proposal from any household task. Members can create one from tasks they created or are assigned to. The generated proposal remains pending and does not affect formal ledger balances until debtor approval.
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: taskId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateTaskExpenseProposalRequest" }
      responses:
        "201":
          description: Linked expense proposal created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error, invalid participant, FX rate required, or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer or member without task ownership/assignment
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Task not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Task already has a linked expense proposal, idempotent request is in progress, or Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/audit-events:
    get:
      summary: List audit events
      responses:
        "200": { description: OK }
