openapi: 3.1.0
info:
  title: Roompire API
  version: 0.1.0
  description: >
    Roompire PWA-first shared-house ledger, approval, FX, calendar, task, and audit API.
servers:
  - url: https://roompire.aialra.online/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development
security:
  - cookieAuth: []
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: roompire_session
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
    Role:
      type: string
      enum: [OWNER, ADMIN, MEMBER, VIEWER]
    CurrencyCode:
      type: string
      pattern: "^[A-Z]{3}$"
      examples: [USD, CNY]
    DecimalString:
      type: string
      pattern: '^-?\d+(\.\d+)?$'
    FxPolicy:
      type: string
      enum:
        [
          LOCK_AT_EXPENSE_DATE,
          ORIGINAL_CURRENCY_DEBT,
          MANUAL_RATE_WITH_APPROVAL,
          FX_DIFFERENCE_ADJUSTMENT,
        ]
    ApprovalPolicy:
      type: string
      enum: [PAYER_AND_EACH_DEBTOR, ALL_PARTICIPANTS, PAYER_ONLY]
    SplitMethod:
      type: string
      enum: [EQUAL, EXACT, PERCENTAGE, SHARES, ADJUSTMENT]
    ExpenseProposalStatus:
      type: string
      enum:
        [
          DRAFT,
          SUBMITTED,
          PARTIALLY_APPROVED,
          APPROVED,
          PARTIALLY_MATURED,
          MATURED_TO_LEDGER,
          REJECTED,
          DISPUTED,
          CANCELLED,
        ]
    ShareStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED, DISPUTED, MATURED_TO_LEDGER]
    LedgerTransactionType:
      type: string
      enum: [DEBT_CREATED, SETTLEMENT_RECORDED, REVERSAL, ADJUSTMENT, FX_ADJUSTMENT]
    DebtStatus:
      type: string
      enum: [OPEN, SETTLED, REVERSED]
    SettlementStatus:
      type: string
      enum: [SUBMITTED, CONFIRMED, REJECTED, CANCELLED]
    User:
      type: object
      required: [id, email, displayName]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string }
        preferredLocale: { type: string, enum: [zh-CN, en-US] }
    Household:
      type: object
      required: [id, name, timezone, settlementCurrency, defaultLocale, fxPolicy, approvalPolicy]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
    HouseholdMembershipSummary:
      type: object
      required:
        [id, name, timezone, settlementCurrency, defaultLocale, fxPolicy, approvalPolicy, role]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
        role: { $ref: "#/components/schemas/Role" }
    CreateHouseholdRequest:
      type: object
      required: [name, timezone, settlementCurrency]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
    UpdateHouseholdRequest:
      type: object
      required: [name, timezone, settlementCurrency, defaultLocale, fxPolicy, approvalPolicy]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
    Member:
      type: object
      required: [id, userId, role, displayName]
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        role: { $ref: "#/components/schemas/Role" }
        displayName: { type: string }
        email: { type: string, format: email }
    CreateInviteRequest:
      type: object
      required: [role]
      properties:
        email: { type: string, format: email }
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
    UpdateMemberRoleRequest:
      type: object
      required: [role]
      properties:
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
    Invite:
      type: object
      required: [id, role, expiresAt]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email, nullable: true }
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
        expiresAt: { type: string, format: date-time }
    AcceptInviteRequest:
      type: object
      required: [token]
      properties:
        token: { type: string }
    DevSessionRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
        displayName: { type: string }
    ExpensePayerInput:
      type: object
      required: [userId, amountOriginal]
      properties:
        userId: { type: string, format: uuid }
        amountOriginal: { $ref: "#/components/schemas/DecimalString" }
    ExpenseParticipantInput:
      type: object
      required: [userId]
      properties:
        userId: { type: string, format: uuid }
        exactAmountOriginal: { $ref: "#/components/schemas/DecimalString" }
        percentage: { $ref: "#/components/schemas/DecimalString" }
        shareUnits: { $ref: "#/components/schemas/DecimalString" }
    CreateExpenseProposalRequest:
      type: object
      required: [title, expenseDate, originalAmount, originalCurrency, participantUserIds]
      properties:
        title: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string }
        merchant: { type: string }
        categoryId: { type: string, format: uuid }
        expenseDate: { type: string, format: date }
        dueDate: { type: string, format: date }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        fxRate:
          description: Required when original currency differs from household settlement currency.
          $ref: "#/components/schemas/DecimalString"
        participantUserIds:
          type: array
          minItems: 1
          items: { type: string, format: uuid }
        splitMethod: { type: string, enum: [EQUAL] }
    ExpensePayer:
      type: object
      required: [id, userId, amountOriginal, amountSettlement, isPrimary]
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        amountOriginal: { $ref: "#/components/schemas/DecimalString" }
        amountSettlement: { $ref: "#/components/schemas/DecimalString" }
        isPrimary: { type: boolean }
    ExpenseShare:
      type: object
      required:
        [
          id,
          debtorUserId,
          creditorUserId,
          shareOriginalAmount,
          shareSettlementAmount,
          shareCurrency,
          settlementCurrency,
          status,
        ]
      properties:
        id: { type: string, format: uuid }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        shareOriginalAmount: { $ref: "#/components/schemas/DecimalString" }
        shareSettlementAmount: { $ref: "#/components/schemas/DecimalString" }
        shareCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        status: { $ref: "#/components/schemas/ShareStatus" }
        ledgerObligationId: { type: string, format: uuid, nullable: true }
    ExpenseProposal:
      type: object
      required:
        [
          id,
          title,
          status,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          splitMethod,
          fxPolicy,
          shares,
          payers,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        createdByUserId: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        merchant: { type: string, nullable: true }
        category:
          type: object
          nullable: true
          properties:
            id: { type: string, format: uuid }
            key: { type: string }
            nameEn: { type: string }
            nameZhCn: { type: string }
        expenseDate: { type: string, format: date }
        dueDate: { type: string, format: date, nullable: true }
        status: { $ref: "#/components/schemas/ExpenseProposalStatus" }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        splitMethod: { $ref: "#/components/schemas/SplitMethod" }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        fxRate: { $ref: "#/components/schemas/DecimalString" }
        fxRateDate: { type: string, format: date }
        fxProvider: { type: string }
        fxLockedAt: { type: string, format: date-time, nullable: true }
        payers:
          type: array
          items: { $ref: "#/components/schemas/ExpensePayer" }
        shares:
          type: array
          items: { $ref: "#/components/schemas/ExpenseShare" }
    ExpenseProposalListResponse:
      type: object
      required: [proposals]
      properties:
        proposals:
          type: array
          items: { $ref: "#/components/schemas/ExpenseProposal" }
    ExpenseProposalResponse:
      type: object
      required: [proposal]
      properties:
        proposal: { $ref: "#/components/schemas/ExpenseProposal" }
    ApproveExpenseShareRequest:
      type: object
      properties:
        comment: { type: string, maxLength: 1000 }
    RejectExpenseShareRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1, maxLength: 1000 }
    BalanceEdge:
      type: object
      required: [debtorUserId, creditorUserId, amount, currency, obligationCount]
      properties:
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        obligationCount: { type: integer, minimum: 1 }
    LedgerObligationAllocation:
      type: object
      required: [id, settlementId, amountApplied]
      properties:
        id: { type: string, format: uuid }
        settlementId: { type: string, format: uuid }
        amountApplied: { $ref: "#/components/schemas/DecimalString" }
    LedgerObligationSourceTransaction:
      type: object
      required: [id, type, occurredAt]
      properties:
        id: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/LedgerTransactionType" }
        description: { type: string, nullable: true }
        sourceType: { type: string, nullable: true }
        sourceId: { type: string, format: uuid, nullable: true }
        occurredAt: { type: string, format: date-time }
    LedgerObligation:
      type: object
      required:
        [
          id,
          householdId,
          ledgerTransactionId,
          debtorUserId,
          creditorUserId,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          remainingAmount,
          status,
          createdAt,
          sourceTransaction,
          allocations,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        ledgerTransactionId: { type: string, format: uuid }
        sourceShareId: { type: string, format: uuid, nullable: true }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        remainingAmount: { $ref: "#/components/schemas/DecimalString" }
        status: { $ref: "#/components/schemas/DebtStatus" }
        dueDate: { type: string, format: date, nullable: true }
        createdAt: { type: string, format: date-time }
        settledAt: { type: string, format: date-time, nullable: true }
        sourceTransaction: { $ref: "#/components/schemas/LedgerObligationSourceTransaction" }
        allocations:
          type: array
          items: { $ref: "#/components/schemas/LedgerObligationAllocation" }
    LedgerTransactionObligation:
      type: object
      required:
        [
          id,
          debtorUserId,
          creditorUserId,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          remainingAmount,
          status,
        ]
      properties:
        id: { type: string, format: uuid }
        sourceShareId: { type: string, format: uuid, nullable: true }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        remainingAmount: { $ref: "#/components/schemas/DecimalString" }
        status: { $ref: "#/components/schemas/DebtStatus" }
    LedgerTransactionSettlement:
      type: object
      required: [id, payerUserId, payeeUserId, amount, currency, status]
      properties:
        id: { type: string, format: uuid }
        payerUserId: { type: string, format: uuid }
        payeeUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        status: { $ref: "#/components/schemas/SettlementStatus" }
    LedgerTransaction:
      type: object
      required: [id, householdId, type, occurredAt, createdAt, obligations, settlements]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/LedgerTransactionType" }
        description: { type: string, nullable: true }
        sourceType: { type: string, nullable: true }
        sourceId: { type: string, format: uuid, nullable: true }
        createdByUserId: { type: string, format: uuid, nullable: true }
        occurredAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        reversesTransactionId: { type: string, format: uuid, nullable: true }
        obligations:
          type: array
          items: { $ref: "#/components/schemas/LedgerTransactionObligation" }
        settlements:
          type: array
          items: { $ref: "#/components/schemas/LedgerTransactionSettlement" }
    BalanceListResponse:
      type: object
      required: [balances]
      properties:
        balances:
          type: array
          items: { $ref: "#/components/schemas/BalanceEdge" }
    LedgerObligationListResponse:
      type: object
      required: [obligations]
      properties:
        obligations:
          type: array
          items: { $ref: "#/components/schemas/LedgerObligation" }
    LedgerTransactionListResponse:
      type: object
      required: [transactions]
      properties:
        transactions:
          type: array
          items: { $ref: "#/components/schemas/LedgerTransaction" }
paths:
  /session:
    get:
      summary: Get current session
      responses:
        "200":
          description: Current session or null user
  /dev/session:
    post:
      summary: Set local developer session user
      description: Dev-only endpoint for local MVP testing. Disabled in production unless explicitly enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DevSessionRequest" }
      responses:
        "200": { description: Developer session set }
  /households:
    get:
      summary: List current user's households
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [households]
                properties:
                  households:
                    type: array
                    items: { $ref: "#/components/schemas/HouseholdMembershipSummary" }
    post:
      summary: Create household
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateHouseholdRequest" }
      responses:
        "201":
          description: Created
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}:
    patch:
      summary: Update household settings
      description: Owners and admins can update household locale, timezone, currency, FX, and approval policy.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateHouseholdRequest" }
      responses:
        "200":
          description: Household settings updated
          content:
            application/json:
              schema:
                type: object
                required: [household]
                properties:
                  household: { $ref: "#/components/schemas/Household" }
        "403":
          description: Caller is not owner/admin
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/members:
    get:
      summary: List household members
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [members]
                properties:
                  members:
                    type: array
                    items: { $ref: "#/components/schemas/Member" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/members/{membershipId}:
    patch:
      summary: Update household member role
      description: Owners can update non-self member roles; admins can manage regular members and viewers.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: membershipId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateMemberRoleRequest" }
      responses:
        "200":
          description: Member role updated
          content:
            application/json:
              schema:
                type: object
                required: [membership]
                properties:
                  membership: { $ref: "#/components/schemas/Member" }
        "400":
          description: Invalid role change, self-mutation, or last-owner guard
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller cannot manage the target member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Member not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    delete:
      summary: Remove household member
      description: Owners can remove non-self members; admins can remove regular members and viewers.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: membershipId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Member removed
          content:
            application/json:
              schema:
                type: object
                required: [membership]
                properties:
                  membership: { $ref: "#/components/schemas/Member" }
        "400":
          description: Self-removal or last-owner guard
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller cannot manage the target member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Member not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/invites:
    post:
      summary: Create household invite
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateInviteRequest" }
      responses:
        "201":
          description: Invite created; token is returned once.
          content:
            application/json:
              schema:
                type: object
                required: [invite, token]
                properties:
                  invite: { $ref: "#/components/schemas/Invite" }
                  token: { type: string }
        "403":
          description: Caller is not owner/admin
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /invites/accept:
    post:
      summary: Accept an invite code as the current user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AcceptInviteRequest" }
      responses:
        "200": { description: Invite accepted }
        "404":
          description: Invalid or expired invite
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/proposals:
    get:
      summary: List expense proposals
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: status
          schema: { $ref: "#/components/schemas/ExpenseProposalStatus" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalListResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      summary: Create expense proposal
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateExpenseProposalRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is a viewer or otherwise cannot create proposals
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Idempotency-Key is already in progress or was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/proposals/{proposalId}:
    get:
      summary: Get expense proposal detail
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: proposalId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "404":
          description: Not found or inaccessible proposal
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/proposals/{proposalId}/submit:
    post:
      summary: Submit a draft proposal for approval
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: proposalId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Submitted }
  /households/{householdId}/expenses/shares/{shareId}/approve:
    post:
      summary: Approve own assigned expense share and mature it to the ledger
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: shareId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApproveExpenseShareRequest" }
      responses:
        "200":
          description: Approved and matured when eligible
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not the assigned debtor
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible share
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Share/proposal is no longer actionable, the idempotent request is in progress, or the Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/shares/{shareId}/reject:
    post:
      summary: Reject own assigned expense share
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          description: Replays the stored response for the same user, key, endpoint, and request body. Reusing the key with a different request returns 409.
          schema: { type: string, maxLength: 160 }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: shareId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RejectExpenseShareRequest" }
      responses:
        "200":
          description: Rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposalResponse" }
        "400":
          description: Validation error or missing Idempotency-Key
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not the assigned debtor
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible share
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Share/proposal is no longer actionable, the idempotent request is in progress, or the Idempotency-Key was reused with a different request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/balances:
    get:
      summary: Get formal ledger balances only
      description: Derived from open debt obligations and settlement allocations; pending or rejected proposals are excluded.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BalanceListResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/ledger/obligations:
    get:
      summary: List formal ledger obligations
      description: Returns append-only debt obligations created from approved shares, ordered newest first.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LedgerObligationListResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/ledger/transactions:
    get:
      summary: List formal ledger transactions
      description: Returns append-only ledger effects with nested obligations and settlements, ordered newest first.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LedgerTransactionListResponse" }
        "404":
          description: Household not found or caller is not an active member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/calendar/events:
    get:
      summary: List calendar events
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: start
          schema: { type: string, format: date-time }
        - in: query
          name: end
          schema: { type: string, format: date-time }
      responses:
        "200": { description: OK }
    post:
      summary: Create calendar event
      responses:
        "201": { description: Created }
  /households/{householdId}/tasks:
    get:
      summary: List tasks
      responses:
        "200": { description: OK }
    post:
      summary: Create task
      responses:
        "201": { description: Created }
  /households/{householdId}/audit-events:
    get:
      summary: List audit events
      responses:
        "200": { description: OK }
