openapi: 3.1.0
info:
  title: Roompire API
  version: 0.1.0
  description: >
    Roompire PWA-first shared-house ledger, approval, FX, calendar, task, and audit API.
servers:
  - url: https://roompire.aialra.online/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development
security:
  - cookieAuth: []
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: roompire_session
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
    Role:
      type: string
      enum: [OWNER, ADMIN, MEMBER, VIEWER]
    CurrencyCode:
      type: string
      pattern: "^[A-Z]{3}$"
      examples: [USD, CNY]
    DecimalString:
      type: string
      pattern: '^-?\d+(\.\d+)?$'
    FxPolicy:
      type: string
      enum:
        [
          LOCK_AT_EXPENSE_DATE,
          ORIGINAL_CURRENCY_DEBT,
          MANUAL_RATE_WITH_APPROVAL,
          FX_DIFFERENCE_ADJUSTMENT,
        ]
    ApprovalPolicy:
      type: string
      enum: [PAYER_AND_EACH_DEBTOR, ALL_PARTICIPANTS, PAYER_ONLY]
    SplitMethod:
      type: string
      enum: [EQUAL, EXACT, PERCENTAGE, SHARES, ADJUSTMENT]
    ExpenseProposalStatus:
      type: string
      enum:
        [
          DRAFT,
          SUBMITTED,
          PARTIALLY_APPROVED,
          APPROVED,
          PARTIALLY_MATURED,
          MATURED_TO_LEDGER,
          REJECTED,
          DISPUTED,
          CANCELLED,
        ]
    ShareStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED, DISPUTED, MATURED_TO_LEDGER]
    User:
      type: object
      required: [id, email, displayName]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string }
        preferredLocale: { type: string, enum: [zh-CN, en-US] }
    Household:
      type: object
      required: [id, name, timezone, settlementCurrency, defaultLocale, fxPolicy, approvalPolicy]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
    HouseholdMembershipSummary:
      type: object
      required:
        [id, name, timezone, settlementCurrency, defaultLocale, fxPolicy, approvalPolicy, role]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
        role: { $ref: "#/components/schemas/Role" }
    CreateHouseholdRequest:
      type: object
      required: [name, timezone, settlementCurrency]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
    UpdateHouseholdRequest:
      type: object
      required: [name, timezone, settlementCurrency, defaultLocale, fxPolicy, approvalPolicy]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
    Member:
      type: object
      required: [id, userId, role, displayName]
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        role: { $ref: "#/components/schemas/Role" }
        displayName: { type: string }
        email: { type: string, format: email }
    CreateInviteRequest:
      type: object
      required: [role]
      properties:
        email: { type: string, format: email }
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
    UpdateMemberRoleRequest:
      type: object
      required: [role]
      properties:
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
    Invite:
      type: object
      required: [id, role, expiresAt]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email, nullable: true }
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
        expiresAt: { type: string, format: date-time }
    AcceptInviteRequest:
      type: object
      required: [token]
      properties:
        token: { type: string }
    DevSessionRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
        displayName: { type: string }
    ExpensePayerInput:
      type: object
      required: [userId, amountOriginal]
      properties:
        userId: { type: string, format: uuid }
        amountOriginal: { $ref: "#/components/schemas/DecimalString" }
    ExpenseParticipantInput:
      type: object
      required: [userId]
      properties:
        userId: { type: string, format: uuid }
        exactAmountOriginal: { $ref: "#/components/schemas/DecimalString" }
        percentage: { $ref: "#/components/schemas/DecimalString" }
        shareUnits: { $ref: "#/components/schemas/DecimalString" }
    CreateExpenseProposalRequest:
      type: object
      required:
        [
          title,
          categoryId,
          expenseDate,
          originalAmount,
          originalCurrency,
          settlementCurrency,
          splitMethod,
          payers,
          participants,
        ]
      properties:
        title: { type: string, minLength: 1 }
        description: { type: string }
        merchant: { type: string }
        categoryId: { type: string, format: uuid }
        expenseDate: { type: string, format: date }
        dueDate: { type: string, format: date }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        splitMethod: { $ref: "#/components/schemas/SplitMethod" }
        payers:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/ExpensePayerInput" }
        participants:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/ExpenseParticipantInput" }
        tagIds:
          type: array
          items: { type: string, format: uuid }
        fileIds:
          type: array
          items: { type: string, format: uuid }
    ExpenseShare:
      type: object
      required:
        [id, debtorUserId, creditorUserId, shareOriginalAmount, shareSettlementAmount, status]
      properties:
        id: { type: string, format: uuid }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        shareOriginalAmount: { $ref: "#/components/schemas/DecimalString" }
        shareSettlementAmount: { $ref: "#/components/schemas/DecimalString" }
        status: { $ref: "#/components/schemas/ShareStatus" }
    ExpenseProposal:
      type: object
      required:
        [
          id,
          title,
          status,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          shares,
        ]
      properties:
        id: { type: string, format: uuid }
        title: { type: string }
        status: { $ref: "#/components/schemas/ExpenseProposalStatus" }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        fxRate: { $ref: "#/components/schemas/DecimalString" }
        fxRateDate: { type: string, format: date }
        fxProvider: { type: string }
        shares:
          type: array
          items: { $ref: "#/components/schemas/ExpenseShare" }
    BalanceEdge:
      type: object
      required: [debtorUserId, creditorUserId, amount, currency]
      properties:
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
paths:
  /session:
    get:
      summary: Get current session
      responses:
        "200":
          description: Current session or null user
  /dev/session:
    post:
      summary: Set local developer session user
      description: Dev-only endpoint for local MVP testing. Disabled in production unless explicitly enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DevSessionRequest" }
      responses:
        "200": { description: Developer session set }
  /households:
    get:
      summary: List current user's households
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [households]
                properties:
                  households:
                    type: array
                    items: { $ref: "#/components/schemas/HouseholdMembershipSummary" }
    post:
      summary: Create household
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateHouseholdRequest" }
      responses:
        "201":
          description: Created
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}:
    patch:
      summary: Update household settings
      description: Owners and admins can update household locale, timezone, currency, FX, and approval policy.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateHouseholdRequest" }
      responses:
        "200":
          description: Household settings updated
          content:
            application/json:
              schema:
                type: object
                required: [household]
                properties:
                  household: { $ref: "#/components/schemas/Household" }
        "403":
          description: Caller is not owner/admin
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/members:
    get:
      summary: List household members
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [members]
                properties:
                  members:
                    type: array
                    items: { $ref: "#/components/schemas/Member" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/members/{membershipId}:
    patch:
      summary: Update household member role
      description: Owners can update non-self member roles; admins can manage regular members and viewers.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: membershipId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateMemberRoleRequest" }
      responses:
        "200":
          description: Member role updated
          content:
            application/json:
              schema:
                type: object
                required: [membership]
                properties:
                  membership: { $ref: "#/components/schemas/Member" }
        "400":
          description: Invalid role change, self-mutation, or last-owner guard
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller cannot manage the target member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Member not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    delete:
      summary: Remove household member
      description: Owners can remove non-self members; admins can remove regular members and viewers.
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: membershipId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Member removed
          content:
            application/json:
              schema:
                type: object
                required: [membership]
                properties:
                  membership: { $ref: "#/components/schemas/Member" }
        "400":
          description: Self-removal or last-owner guard
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller cannot manage the target member
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Member not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/invites:
    post:
      summary: Create household invite
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateInviteRequest" }
      responses:
        "201":
          description: Invite created; token is returned once.
          content:
            application/json:
              schema:
                type: object
                required: [invite, token]
                properties:
                  invite: { $ref: "#/components/schemas/Invite" }
                  token: { type: string }
        "403":
          description: Caller is not owner/admin
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Not found or inaccessible household
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /invites/accept:
    post:
      summary: Accept an invite code as the current user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AcceptInviteRequest" }
      responses:
        "200": { description: Invite accepted }
        "404":
          description: Invalid or expired invite
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/proposals:
    get:
      summary: List expense proposals
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: status
          schema: { $ref: "#/components/schemas/ExpenseProposalStatus" }
      responses:
        "200": { description: OK }
    post:
      summary: Create expense proposal
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateExpenseProposalRequest" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposal" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households/{householdId}/expenses/proposals/{proposalId}:
    get:
      summary: Get expense proposal detail
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: proposalId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpenseProposal" }
  /households/{householdId}/expenses/proposals/{proposalId}/submit:
    post:
      summary: Submit a draft proposal for approval
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: proposalId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Submitted }
  /households/{householdId}/expenses/shares/{shareId}/approve:
    post:
      summary: Approve own assigned expense share
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: shareId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Approved }
  /households/{householdId}/expenses/shares/{shareId}/reject:
    post:
      summary: Reject own assigned expense share
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string }
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: path
          name: shareId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 1 }
      responses:
        "200": { description: Rejected }
  /households/{householdId}/balances:
    get:
      summary: Get formal ledger balances only
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/BalanceEdge" }
  /households/{householdId}/calendar/events:
    get:
      summary: List calendar events
      parameters:
        - in: path
          name: householdId
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: start
          schema: { type: string, format: date-time }
        - in: query
          name: end
          schema: { type: string, format: date-time }
      responses:
        "200": { description: OK }
    post:
      summary: Create calendar event
      responses:
        "201": { description: Created }
  /households/{householdId}/tasks:
    get:
      summary: List tasks
      responses:
        "200": { description: OK }
    post:
      summary: Create task
      responses:
        "201": { description: Created }
  /households/{householdId}/audit-events:
    get:
      summary: List audit events
      responses:
        "200": { description: OK }
