openapi: 3.1.0
info:
  title: Roompire API
  version: 0.1.0
  description: >
    Roompire PWA-first shared-house ledger, approval, FX, calendar, task, and audit API.
    Unsafe browser-style API mutations with cross-site request metadata are rejected
    before route handlers with `403 CSRF_ORIGIN_MISMATCH`.
servers:
  - url: https://roompire.aialra.online/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development
security:
  - cookieAuth: []
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: roompire_session
  responses:
    CsrfForbidden:
      description: Unsafe browser-style mutation was rejected by the CSRF origin guard.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    RateLimited:
      description: Request rate limit exceeded
      headers:
        Retry-After:
          description: Seconds to wait before retrying.
          schema: { type: integer, minimum: 1 }
        RateLimit-Limit:
          description: Maximum requests allowed in the current window.
          schema: { type: integer, minimum: 1 }
        RateLimit-Remaining:
          description: Remaining requests in the current window.
          schema: { type: integer, minimum: 0 }
        RateLimit-Reset:
          description: Unix timestamp when the current rate limit window resets.
          schema: { type: integer, minimum: 0 }
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
    Role:
      type: string
      enum: [OWNER, ADMIN, MEMBER, VIEWER]
    CurrencyCode:
      type: string
      pattern: "^[A-Z]{3}$"
      examples: [USD, CNY]
    DecimalString:
      type: string
      pattern: '^-?\d+(\.\d+)?$'
    FxRateString:
      type: string
      pattern: '^\d+(\.\d{1,12})?$'
    FxPolicy:
      type: string
      enum:
        [
          LOCK_AT_EXPENSE_DATE,
          ORIGINAL_CURRENCY_DEBT,
          MANUAL_RATE_WITH_APPROVAL,
          FX_DIFFERENCE_ADJUSTMENT,
        ]
    HouseholdFxPolicySetting:
      type: string
      description: Currently supported household FX policies for proposal creation. Original-currency debt and FX-difference adjustment remain backlog policies and are not accepted in settings yet.
      enum: [LOCK_AT_EXPENSE_DATE, MANUAL_RATE_WITH_APPROVAL]
    ApprovalPolicy:
      type: string
      enum: [PAYER_AND_EACH_DEBTOR, ALL_PARTICIPANTS, PAYER_ONLY]
    ClearingPolicy:
      type: string
      enum: [DIRECT_ONLY, HOUSEHOLD_NETTING]
    ApprovalDecision:
      type: string
      enum: [APPROVED, REJECTED, REQUEST_CHANGES]
    SplitMethod:
      type: string
      enum: [EQUAL, EXACT, PERCENTAGE, SHARES, ADJUSTMENT]
    CreateExpenseSplitMethod:
      type: string
      enum: [EQUAL, EXACT, PERCENTAGE, SHARES]
    ExpenseProposalStatus:
      type: string
      enum:
        [
          DRAFT,
          SUBMITTED,
          PARTIALLY_APPROVED,
          APPROVED,
          PARTIALLY_MATURED,
          MATURED_TO_LEDGER,
          REJECTED,
          DISPUTED,
          CANCELLED,
        ]
    ShareStatus:
      type: string
      enum: [PENDING, APPROVED, REJECTED, DISPUTED, MATURED_TO_LEDGER]
    LedgerTransactionType:
      type: string
      enum: [DEBT_CREATED, SETTLEMENT_RECORDED, REVERSAL, ADJUSTMENT, FX_ADJUSTMENT]
    DebtStatus:
      type: string
      enum: [OPEN, SETTLED, REVERSED]
    SettlementStatus:
      type: string
      enum: [SUBMITTED, CONFIRMED, REJECTED, CANCELLED]
    LedgerPeriodStatus:
      type: string
      enum: [CLOSED, REOPENED]
    CalendarEventType:
      type: string
      enum:
        [
          TASK,
          CHORE,
          GROUP_ACTIVITY,
          BILL_DUE,
          REPAYMENT_DUE,
          SETTLEMENT_REMINDER,
          RECURRING_EXPENSE_GENERATION,
        ]
    WorkItemStatus:
      type: string
      enum: [OPEN, COMPLETED]
    TaskPriority:
      type: string
      enum: [LOW, NORMAL, HIGH]
    RecurrenceFrequency:
      type: string
      enum: [NONE, DAILY, WEEKLY, MONTHLY]
    AuditEvent:
      type: object
      required: [id, householdId, action, entityType, entityId, occurredAt]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        actorUserId: { type: string, format: uuid, nullable: true }
        action: { type: string, example: expense_proposal.submitted }
        entityType: { type: string, example: ExpenseProposal }
        entityId: { type: string, format: uuid }
        before:
          type: object
          additionalProperties: true
          nullable: true
        after:
          type: object
          additionalProperties: true
          nullable: true
        metadata:
          type: object
          additionalProperties: true
          nullable: true
        prevHash:
          type: string
          pattern: "^[0-9a-f]{64}$"
          nullable: true
        eventHash:
          type: string
          pattern: "^[0-9a-f]{64}$"
          nullable: true
        occurredAt: { type: string, format: date-time }
    AuditHashChain:
      type: object
      required: [status, eventCount, hashedEventCount, brokenEventId, latestEventHash]
      properties:
        status:
          type: string
          enum: [VERIFIED, MISSING_HASHES, BROKEN]
        eventCount: { type: integer, minimum: 0 }
        hashedEventCount: { type: integer, minimum: 0 }
        brokenEventId: { type: string, format: uuid, nullable: true }
        latestEventHash:
          type: string
          pattern: "^[0-9a-f]{64}$"
          nullable: true
    AuditEventListResponse:
      type: object
      required: [events, chain, page]
      properties:
        events:
          type: array
          items: { $ref: "#/components/schemas/AuditEvent" }
        chain: { $ref: "#/components/schemas/AuditHashChain" }
        page: { $ref: "#/components/schemas/PageInfo" }
    AmountTotal:
      type: object
      required: [currency, amount]
      properties:
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        amount: { $ref: "#/components/schemas/DecimalString" }
    StatsProposalCounts:
      type: object
      required:
        [
          DRAFT,
          SUBMITTED,
          PARTIALLY_APPROVED,
          APPROVED,
          PARTIALLY_MATURED,
          MATURED_TO_LEDGER,
          REJECTED,
          DISPUTED,
          CANCELLED,
        ]
      properties:
        DRAFT: { type: integer, minimum: 0 }
        SUBMITTED: { type: integer, minimum: 0 }
        PARTIALLY_APPROVED: { type: integer, minimum: 0 }
        APPROVED: { type: integer, minimum: 0 }
        PARTIALLY_MATURED: { type: integer, minimum: 0 }
        MATURED_TO_LEDGER: { type: integer, minimum: 0 }
        REJECTED: { type: integer, minimum: 0 }
        DISPUTED: { type: integer, minimum: 0 }
        CANCELLED: { type: integer, minimum: 0 }
    StatsTaskCounts:
      type: object
      required: [open, completed]
      properties:
        open: { type: integer, minimum: 0 }
        completed: { type: integer, minimum: 0 }
    StatsWindow:
      type: object
      required: [from, to]
      properties:
        from:
          type: string
          format: date
          nullable: true
          description: Inclusive start date for the selected statistics window.
        to:
          type: string
          format: date
          nullable: true
          description: Inclusive end date for the selected statistics window.
    StatsProposalTrendPoint:
      type: object
      required: [date, proposalCount, proposalTotals]
      properties:
        date: { type: string, format: date }
        proposalCount: { type: integer, minimum: 0 }
        proposalTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
    ExportDataset:
      type: string
      enum: [expense_proposals, ledger_obligations, settlements, audit_events, members]
    ExportFormat:
      type: string
      enum: [json, csv]
    CreateExportRequest:
      type: object
      required: [dataset, format]
      properties:
        dataset: { $ref: "#/components/schemas/ExportDataset" }
        format: { $ref: "#/components/schemas/ExportFormat" }
    HouseholdExport:
      type: object
      required: [id, householdId, dataset, format, status, createdAt, expiresAt, downloadUrl]
      properties:
        id:
          type: string
          description: Signed short-lived export download identifier.
        householdId: { type: string, format: uuid }
        dataset: { $ref: "#/components/schemas/ExportDataset" }
        format: { $ref: "#/components/schemas/ExportFormat" }
        status:
          type: string
          enum: [READY]
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        downloadUrl: { type: string }
    ExportResponse:
      type: object
      required: [export]
      properties:
        export: { $ref: "#/components/schemas/HouseholdExport" }
    StatsSummary:
      type: object
      required:
        [
          householdId,
          window,
          settlementCurrency,
          proposalCounts,
          proposalSettlementTotals,
          openObligationTotals,
          confirmedSettlementTotals,
          taskCounts,
          proposalTrend,
          auditEventCount,
          receiptFileCount,
        ]
      properties:
        householdId: { type: string, format: uuid }
        window: { $ref: "#/components/schemas/StatsWindow" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        proposalCounts: { $ref: "#/components/schemas/StatsProposalCounts" }
        proposalSettlementTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        openObligationTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        confirmedSettlementTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        taskCounts: { $ref: "#/components/schemas/StatsTaskCounts" }
        proposalTrend:
          type: array
          description: Non-cancelled proposal volume grouped by expense date within the selected window.
          items: { $ref: "#/components/schemas/StatsProposalTrendPoint" }
        auditEventCount: { type: integer, minimum: 0 }
        receiptFileCount: { type: integer, minimum: 0 }
    StatsSummaryResponse:
      type: object
      required: [summary]
      properties:
        summary: { $ref: "#/components/schemas/StatsSummary" }
    CategoryStat:
      type: object
      required:
        [
          categoryId,
          categoryKey,
          nameEn,
          nameZhCn,
          proposalCount,
          proposalTotals,
          maturedShareTotals,
        ]
      properties:
        categoryId: { type: string, format: uuid, nullable: true }
        categoryKey: { type: string }
        nameEn: { type: string }
        nameZhCn: { type: string }
        proposalCount: { type: integer, minimum: 0 }
        proposalTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        maturedShareTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
    CategoryStatsListResponse:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          items: { $ref: "#/components/schemas/CategoryStat" }
    MemberStat:
      type: object
      required:
        [
          userId,
          displayName,
          email,
          role,
          createdProposalCount,
          createdProposalTotals,
          paidProposalTotals,
          owedObligationTotals,
          receivableObligationTotals,
          remainingOwedTotals,
          remainingReceivableTotals,
          confirmedSettlementPaidTotals,
          confirmedSettlementReceivedTotals,
        ]
      properties:
        userId: { type: string, format: uuid }
        displayName: { type: string }
        email: { type: string, format: email }
        role: { $ref: "#/components/schemas/Role" }
        createdProposalCount: { type: integer, minimum: 0 }
        createdProposalTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        paidProposalTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        owedObligationTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        receivableObligationTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        remainingOwedTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        remainingReceivableTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        confirmedSettlementPaidTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
        confirmedSettlementReceivedTotals:
          type: array
          items: { $ref: "#/components/schemas/AmountTotal" }
    MemberStatsListResponse:
      type: object
      required: [members]
      properties:
        members:
          type: array
          items: { $ref: "#/components/schemas/MemberStat" }
    User:
      type: object
      required: [id, email, displayName, preferredLocale, notificationPreferences]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string }
        preferredLocale: { type: string, enum: [zh-CN, en-US] }
        notificationPreferences: { $ref: "#/components/schemas/NotificationPreferences" }
    NotificationPreferences:
      type: object
      required:
        [
          inAppEnabled,
          emailEnabled,
          proposalUpdatesEnabled,
          settlementUpdatesEnabled,
          taskRemindersEnabled,
        ]
      properties:
        inAppEnabled: { type: boolean }
        emailEnabled: { type: boolean }
        proposalUpdatesEnabled: { type: boolean }
        settlementUpdatesEnabled: { type: boolean }
        taskRemindersEnabled: { type: boolean }
    UpdateCurrentUserRequest:
      type: object
      required: [displayName, preferredLocale, notificationPreferences]
      properties:
        displayName: { type: string, minLength: 1, maxLength: 80 }
        preferredLocale: { type: string, enum: [zh-CN, en-US] }
        notificationPreferences: { $ref: "#/components/schemas/NotificationPreferences" }
    CurrentUserResponse:
      type: object
      required: [user]
      properties:
        user: { $ref: "#/components/schemas/User" }
    UpdateSessionRequest:
      type: object
      required: [activeHouseholdId]
      properties:
        activeHouseholdId: { type: string, format: uuid }
    SessionResponse:
      type: object
      required: [user, household]
      properties:
        user: { $ref: "#/components/schemas/User" }
        household:
          allOf:
            - { $ref: "#/components/schemas/HouseholdMembershipSummary" }
          nullable: true
    Notification:
      type: object
      required: [id, householdId, type, titleKey, bodyKey, payload, readAt, createdAt]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        type:
          type: string
          enum:
            [
              EXPENSE_PROPOSAL_ASSIGNED,
              TASK_DUE_SOON,
              TASK_OVERDUE,
              DEBT_DUE_SOON,
              DEBT_OVERDUE,
              SETTLEMENT_CONFIRMATION_REMINDER,
            ]
        titleKey: { type: string }
        bodyKey: { type: string }
        payload:
          type: object
          additionalProperties: true
          nullable: true
        readAt:
          type: string
          format: date-time
          nullable: true
        createdAt: { type: string, format: date-time }
    PageInfo:
      type: object
      required: [limit, nextCursor, hasMore]
      properties:
        limit: { type: integer, minimum: 1, maximum: 100 }
        nextCursor:
          type: string
          format: uuid
          nullable: true
        hasMore: { type: boolean }
    NotificationsListResponse:
      type: object
      required: [notifications, unreadCount, page]
      properties:
        notifications:
          type: array
          items: { $ref: "#/components/schemas/Notification" }
        unreadCount: { type: integer, minimum: 0 }
        page: { $ref: "#/components/schemas/PageInfo" }
    UpdateNotificationRequest:
      type: object
      required: [read]
      properties:
        read: { type: boolean }
    NotificationResponse:
      type: object
      required: [notification]
      properties:
        notification: { $ref: "#/components/schemas/Notification" }
    PushSubscriptionSettingsResponse:
      type: object
      required: [configured, publicKey, deliveryMode, activeSubscriptionCount]
      properties:
        configured: { type: boolean }
        publicKey:
          type: string
          nullable: true
          description: VAPID public key for browser PushManager subscription.
        deliveryMode:
          type: string
          enum: [send, dry-run, disabled]
        activeSubscriptionCount: { type: integer, minimum: 0 }
    PushSubscriptionRequest:
      type: object
      required: [endpoint, keys]
      properties:
        endpoint: { type: string, format: uri, maxLength: 2048 }
        expirationTime:
          type: integer
          nullable: true
          description: Browser PushSubscription expiration time in milliseconds since epoch.
        keys:
          type: object
          required: [p256dh, auth]
          properties:
            p256dh: { type: string, minLength: 16, maxLength: 512 }
            auth: { type: string, minLength: 8, maxLength: 512 }
    PushSubscription:
      type: object
      required: [id, endpoint, active]
      properties:
        id: { type: string, format: uuid }
        endpoint: { type: string, format: uri }
        active: { type: boolean }
    PushSubscriptionResponse:
      type: object
      required: [subscription]
      properties:
        subscription: { $ref: "#/components/schemas/PushSubscription" }
    DeletePushSubscriptionRequest:
      type: object
      required: [endpoint]
      properties:
        endpoint: { type: string, format: uri, maxLength: 2048 }
    DeletePushSubscriptionResponse:
      type: object
      required: [disabledCount]
      properties:
        disabledCount: { type: integer, minimum: 0 }
    Household:
      type: object
      required:
        [
          id,
          name,
          timezone,
          settlementCurrency,
          defaultLocale,
          fxPolicy,
          approvalPolicy,
          clearingPolicy,
        ]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
        clearingPolicy: { $ref: "#/components/schemas/ClearingPolicy" }
    HouseholdMembershipSummary:
      type: object
      required:
        [
          id,
          name,
          timezone,
          settlementCurrency,
          defaultLocale,
          fxPolicy,
          approvalPolicy,
          clearingPolicy,
          role,
        ]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
        clearingPolicy: { $ref: "#/components/schemas/ClearingPolicy" }
        role: { $ref: "#/components/schemas/Role" }
    CreateHouseholdRequest:
      type: object
      required: [name, timezone, settlementCurrency]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
    UpdateHouseholdRequest:
      type: object
      required:
        [
          name,
          timezone,
          settlementCurrency,
          defaultLocale,
          fxPolicy,
          approvalPolicy,
          clearingPolicy,
        ]
      properties:
        name: { type: string, minLength: 2, maxLength: 80 }
        timezone: { type: string, example: America/Los_Angeles }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        defaultLocale: { type: string, enum: [zh-CN, en-US] }
        fxPolicy: { $ref: "#/components/schemas/HouseholdFxPolicySetting" }
        approvalPolicy: { $ref: "#/components/schemas/ApprovalPolicy" }
        clearingPolicy: { $ref: "#/components/schemas/ClearingPolicy" }
    ExpenseCategory:
      type: object
      required: [id, key, nameEn, nameZhCn, icon, colorToken, sortOrder, isActive]
      properties:
        id: { type: string, format: uuid }
        key: { type: string }
        nameEn: { type: string }
        nameZhCn: { type: string }
        icon:
          type: string
          nullable: true
        colorToken:
          type: string
          nullable: true
        sortOrder: { type: integer, minimum: 0 }
        isActive: { type: boolean }
    ExpenseCategoryInput:
      type: object
      required: [nameEn, nameZhCn]
      properties:
        nameEn: { type: string, minLength: 2, maxLength: 80 }
        nameZhCn: { type: string, minLength: 1, maxLength: 80 }
        icon: { type: string, maxLength: 80 }
        colorToken: { type: string, maxLength: 80 }
        sortOrder: { type: integer, minimum: 0, maximum: 10000 }
    ExpenseCategoryListResponse:
      type: object
      required: [categories]
      properties:
        categories:
          type: array
          items: { $ref: "#/components/schemas/ExpenseCategory" }
    ExpenseCategoryResponse:
      type: object
      required: [category]
      properties:
        category: { $ref: "#/components/schemas/ExpenseCategory" }
    ExpenseTag:
      type: object
      required: [id, name, colorToken, sortOrder, isActive]
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        colorToken:
          type: string
          nullable: true
        sortOrder: { type: integer, minimum: 0 }
        isActive: { type: boolean }
    ExpenseTagInput:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 60 }
        colorToken: { type: string, maxLength: 80 }
        sortOrder: { type: integer, minimum: 0, maximum: 10000 }
    ExpenseTagListResponse:
      type: object
      required: [tags]
      properties:
        tags:
          type: array
          items: { $ref: "#/components/schemas/ExpenseTag" }
    ExpenseTagResponse:
      type: object
      required: [tag]
      properties:
        tag: { $ref: "#/components/schemas/ExpenseTag" }
    Member:
      type: object
      required: [id, userId, role, displayName]
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        role: { $ref: "#/components/schemas/Role" }
        displayName: { type: string }
        email: { type: string, format: email }
    CreateInviteRequest:
      type: object
      required: [role]
      properties:
        email: { type: string, format: email }
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
    UpdateMemberRoleRequest:
      type: object
      required: [role]
      properties:
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
    TransferOwnershipResponse:
      type: object
      required: [previousOwner, nextOwner]
      properties:
        previousOwner: { $ref: "#/components/schemas/Member" }
        nextOwner: { $ref: "#/components/schemas/Member" }
    Invite:
      type: object
      required: [id, role, expiresAt]
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email, nullable: true }
        role: { type: string, enum: [ADMIN, MEMBER, VIEWER] }
        expiresAt: { type: string, format: date-time }
    AcceptInviteRequest:
      type: object
      required: [token]
      properties:
        token: { type: string }
    DevSessionRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
        displayName: { type: string }
    ExpensePayerInput:
      type: object
      required: [userId, amountOriginal]
      properties:
        userId: { type: string, format: uuid }
        amountOriginal: { $ref: "#/components/schemas/DecimalString" }
    ExpenseParticipantInput:
      type: object
      required: [userId]
      properties:
        userId: { type: string, format: uuid }
        exactAmountOriginal:
          description: Required for each debtor when splitMethod is EXACT. Debtor exact amounts must not exceed the original amount; the payer's remainder is implicit.
          $ref: "#/components/schemas/DecimalString"
        percentage:
          description: Required for each debtor when splitMethod is PERCENTAGE. Debtor percentages must not exceed 100; the payer's remainder is implicit.
          $ref: "#/components/schemas/DecimalString"
        shareUnits:
          description: Required for each debtor when splitMethod is SHARES. The payer contributes one implicit share unit.
          $ref: "#/components/schemas/DecimalString"
    CreateExpenseProposalRequest:
      type: object
      required: [title, expenseDate, originalAmount, originalCurrency]
      properties:
        title: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string }
        merchant: { type: string }
        categoryId: { type: string, format: uuid }
        tagIds:
          type: array
          description: Active household tag IDs to attach to this proposal.
          maxItems: 12
          items: { type: string, format: uuid }
        expenseDate: { type: string, format: date }
        dueDate: { type: string, format: date }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        fxRate:
          description: Optional manual FX override under LOCK_AT_EXPENSE_DATE. Required for cross-currency expenses when the household uses MANUAL_RATE_WITH_APPROVAL.
          $ref: "#/components/schemas/FxRateString"
        participantUserIds:
          type: array
          description: Equal-split debtor user IDs. For EQUAL, provide participantUserIds or participantShares.
          minItems: 1
          maxItems: 20
          items: { type: string, format: uuid }
        participantShares:
          type: array
          description: Debtor rows for EQUAL or weighted split methods. Required for EXACT, PERCENTAGE, and SHARES.
          minItems: 1
          maxItems: 20
          items: { $ref: "#/components/schemas/ExpenseParticipantInput" }
        fileIds:
          type: array
          description: Uploaded receipt/evidence files to attach as receipts at proposal creation.
          maxItems: 10
          items: { type: string, format: uuid }
        splitMethod:
          allOf:
            - { $ref: "#/components/schemas/CreateExpenseSplitMethod" }
          default: EQUAL
    CreateTaskExpenseProposalRequest:
      type: object
      required: [expenseDate, originalAmount, originalCurrency]
      properties:
        title:
          type: string
          minLength: 2
          maxLength: 120
          description: Defaults to the task title when omitted.
        description:
          type: string
          description: Defaults to the task description when omitted.
        merchant: { type: string }
        categoryId: { type: string, format: uuid }
        tagIds:
          type: array
          description: Active household tag IDs to attach to this generated proposal.
          maxItems: 12
          items: { type: string, format: uuid }
        expenseDate: { type: string, format: date }
        dueDate:
          type: string
          format: date
          description: Defaults to the task due date when present.
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        fxRate:
          description: Optional manual FX override under LOCK_AT_EXPENSE_DATE. Required for cross-currency task reimbursements when the household uses MANUAL_RATE_WITH_APPROVAL.
          $ref: "#/components/schemas/FxRateString"
        participantUserIds:
          type: array
          description: Equal-split debtor user IDs. For EQUAL, provide participantUserIds or participantShares.
          minItems: 1
          maxItems: 20
          items: { type: string, format: uuid }
        participantShares:
          type: array
          description: Debtor rows for EQUAL or weighted split methods. Required for EXACT, PERCENTAGE, and SHARES.
          minItems: 1
          maxItems: 20
          items: { $ref: "#/components/schemas/ExpenseParticipantInput" }
        fileIds:
          type: array
          description: Uploaded receipt/evidence files to attach as receipts at proposal creation.
          maxItems: 10
          items: { type: string, format: uuid }
        splitMethod:
          allOf:
            - { $ref: "#/components/schemas/CreateExpenseSplitMethod" }
          default: EQUAL
    CreateEventExpenseProposalRequest:
      type: object
      required: [originalAmount, originalCurrency]
      properties:
        title:
          type: string
          minLength: 2
          maxLength: 120
          description: Defaults to the calendar event title when omitted.
        description:
          type: string
          description: Defaults to the calendar event description when omitted.
        merchant: { type: string }
        categoryId: { type: string, format: uuid }
        tagIds:
          type: array
          description: Active household tag IDs to attach to this generated proposal.
          maxItems: 12
          items: { type: string, format: uuid }
        expenseDate:
          type: string
          format: date
          description: Defaults to the calendar event start date.
        dueDate:
          type: string
          format: date
          description: Defaults to the calendar event start date.
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        fxRate:
          description: Optional manual FX override under LOCK_AT_EXPENSE_DATE. Required for cross-currency event expenses when the household uses MANUAL_RATE_WITH_APPROVAL.
          $ref: "#/components/schemas/FxRateString"
        participantUserIds:
          type: array
          description: Equal-split debtor user IDs. For EQUAL, provide participantUserIds or participantShares.
          minItems: 1
          maxItems: 20
          items: { type: string, format: uuid }
        participantShares:
          type: array
          description: Debtor rows for EQUAL or weighted split methods. Required for EXACT, PERCENTAGE, and SHARES.
          minItems: 1
          maxItems: 20
          items: { $ref: "#/components/schemas/ExpenseParticipantInput" }
        fileIds:
          type: array
          description: Uploaded receipt/evidence files to attach as receipts at proposal creation.
          maxItems: 10
          items: { type: string, format: uuid }
        splitMethod:
          allOf:
            - { $ref: "#/components/schemas/CreateExpenseSplitMethod" }
          default: EQUAL
    CreateExpenseProposalRevisionRequest:
      allOf:
        - { $ref: "#/components/schemas/CreateExpenseProposalRequest" }
        - type: object
          properties:
            revisionReason: { type: string, minLength: 1, maxLength: 1000 }
    ExpensePayer:
      type: object
      required: [id, userId, amountOriginal, amountSettlement, isPrimary]
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        amountOriginal: { $ref: "#/components/schemas/DecimalString" }
        amountSettlement: { $ref: "#/components/schemas/DecimalString" }
        isPrimary: { type: boolean }
    ExpenseShare:
      type: object
      required:
        [
          id,
          debtorUserId,
          creditorUserId,
          shareOriginalAmount,
          shareSettlementAmount,
          shareCurrency,
          settlementCurrency,
          percentage,
          shareUnits,
          status,
        ]
      properties:
        id: { type: string, format: uuid }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        shareOriginalAmount: { $ref: "#/components/schemas/DecimalString" }
        shareSettlementAmount: { $ref: "#/components/schemas/DecimalString" }
        shareCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        percentage:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          nullable: true
        shareUnits:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          nullable: true
        status: { $ref: "#/components/schemas/ShareStatus" }
        ledgerObligationId: { type: string, format: uuid, nullable: true }
    ProposalApproval:
      type: object
      required: [id, shareId, approverUserId, decision, comment, createdAt]
      properties:
        id: { type: string, format: uuid }
        shareId: { type: string, format: uuid, nullable: true }
        approverUserId: { type: string, format: uuid }
        decision: { $ref: "#/components/schemas/ApprovalDecision" }
        comment: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
    ProposalComment:
      type: object
      required: [id, shareId, authorUserId, body, createdAt]
      properties:
        id: { type: string, format: uuid }
        shareId: { type: string, format: uuid, nullable: true }
        authorUserId: { type: string, format: uuid }
        body: { type: string }
        createdAt: { type: string, format: date-time }
    CreateProposalCommentRequest:
      type: object
      required: [body]
      properties:
        body: { type: string, minLength: 1, maxLength: 1000 }
        shareId:
          type: string
          format: uuid
          description: Optional share-specific comment target. Must belong to this proposal.
    File:
      type: object
      required:
        [
          id,
          householdId,
          uploadedByUserId,
          storageProvider,
          originalFilename,
          mimeType,
          sizeBytes,
          sha256,
          createdAt,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        uploadedByUserId: { type: string, format: uuid }
        storageProvider: { type: string, examples: [local, s3] }
        originalFilename: { type: string }
        mimeType: { type: string, examples: [application/pdf, image/png] }
        sizeBytes: { type: integer, minimum: 1, maximum: 5242880 }
        sha256: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
    ProposalFile:
      type: object
      required:
        [id, purpose, uploadedByUserId, originalFilename, mimeType, sizeBytes, sha256, createdAt]
      properties:
        id: { type: string, format: uuid }
        purpose: { type: string, enum: [receipt, evidence, other] }
        uploadedByUserId: { type: string, format: uuid }
        originalFilename: { type: string }
        mimeType: { type: string }
        sizeBytes: { type: integer }
        sha256: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
    SettlementFile:
      type: object
      required:
        [
          id,
          purpose,
          uploadedByUserId,
          originalFilename,
          mimeType,
          sizeBytes,
          sha256,
          createdAt,
          downloadUrl,
          downloadExpiresAt,
        ]
      properties:
        id: { type: string, format: uuid }
        purpose: { type: string, enum: [evidence] }
        uploadedByUserId: { type: string, format: uuid }
        originalFilename: { type: string }
        mimeType: { type: string }
        sizeBytes: { type: integer }
        sha256: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        downloadUrl: { type: string }
        downloadExpiresAt: { type: string, format: date-time }
    PresignFileUploadRequest:
      type: object
      required: [originalFilename, mimeType, sizeBytes]
      properties:
        originalFilename: { type: string, minLength: 1, maxLength: 180 }
        mimeType:
          type: string
          enum: [image/jpeg, image/png, image/webp, application/pdf]
        sizeBytes: { type: integer, minimum: 1, maximum: 5242880 }
    PresignFileUploadResponse:
      type: object
      required: [file, upload]
      properties:
        file: { $ref: "#/components/schemas/File" }
        upload:
          type: object
          required: [fileId, method, uploadUrl, headers]
          properties:
            fileId: { type: string, format: uuid }
            method: { type: string, enum: [PUT] }
            uploadUrl: { type: string }
            headers:
              type: object
              additionalProperties: { type: string }
    CompleteFileUploadRequest:
      type: object
      required: [fileId]
      properties:
        fileId: { type: string, format: uuid }
        proposalId:
          type: string
          format: uuid
          description: Optional proposal to attach this completed uploaded file to as a timeline-visible proposal file.
        purpose: { type: string, enum: [receipt, evidence, other], default: receipt }
    FileResponse:
      type: object
      required: [file]
      properties:
        file: { $ref: "#/components/schemas/File" }
    FileDownloadUrlResponse:
      type: object
      required: [file, downloadUrl, expiresAt]
      properties:
        file: { $ref: "#/components/schemas/File" }
        downloadUrl: { type: string }
        expiresAt: { type: string, format: date-time }
    ExpenseProposal:
      type: object
      required:
        [
          id,
          title,
          status,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          splitMethod,
          fxPolicy,
          revisionNumber,
          supersedesProposalId,
          shares,
          payers,
          approvals,
          comments,
          files,
          tags,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        createdByUserId: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        merchant: { type: string, nullable: true }
        category:
          type: object
          nullable: true
          properties:
            id: { type: string, format: uuid }
            key: { type: string }
            nameEn: { type: string }
            nameZhCn: { type: string }
        tags:
          type: array
          items: { $ref: "#/components/schemas/ExpenseTag" }
        expenseDate: { type: string, format: date }
        dueDate: { type: string, format: date, nullable: true }
        status: { $ref: "#/components/schemas/ExpenseProposalStatus" }
        revisionNumber: { type: integer, minimum: 1 }
        supersedesProposalId: { type: string, format: uuid, nullable: true }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        splitMethod: { $ref: "#/components/schemas/SplitMethod" }
        fxPolicy: { $ref: "#/components/schemas/FxPolicy" }
        fxRate: { $ref: "#/components/schemas/FxRateString" }
        fxRateDate: { type: string, format: date }
        fxProvider: { type: string }
        fxLockedAt: { type: string, format: date-time, nullable: true }
        payers:
          type: array
          items: { $ref: "#/components/schemas/ExpensePayer" }
        shares:
          type: array
          items: { $ref: "#/components/schemas/ExpenseShare" }
        approvals:
          type: array
          items: { $ref: "#/components/schemas/ProposalApproval" }
        comments:
          type: array
          items: { $ref: "#/components/schemas/ProposalComment" }
        files:
          type: array
          items: { $ref: "#/components/schemas/ProposalFile" }
    ExpenseProposalListResponse:
      type: object
      required: [proposals, page]
      properties:
        proposals:
          type: array
          items: { $ref: "#/components/schemas/ExpenseProposal" }
        page: { $ref: "#/components/schemas/PageInfo" }
    ExpenseProposalResponse:
      type: object
      required: [proposal]
      properties:
        proposal: { $ref: "#/components/schemas/ExpenseProposal" }
    ApproveExpenseShareRequest:
      type: object
      properties:
        comment: { type: string, maxLength: 1000 }
    RejectExpenseShareRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1, maxLength: 1000 }
    RequestChangesExpenseShareRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1, maxLength: 1000 }
    BalanceEdge:
      type: object
      required: [debtorUserId, creditorUserId, amount, currency, obligationCount]
      properties:
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        obligationCount: { type: integer, minimum: 1 }
    LedgerObligationAllocation:
      type: object
      required: [id, settlementId, amountApplied]
      properties:
        id: { type: string, format: uuid }
        settlementId: { type: string, format: uuid }
        amountApplied: { $ref: "#/components/schemas/DecimalString" }
    LedgerObligationSourceTransaction:
      type: object
      required: [id, type, occurredAt]
      properties:
        id: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/LedgerTransactionType" }
        description: { type: string, nullable: true }
        sourceType: { type: string, nullable: true }
        sourceId: { type: string, format: uuid, nullable: true }
        occurredAt: { type: string, format: date-time }
    LedgerObligation:
      type: object
      required:
        [
          id,
          householdId,
          ledgerTransactionId,
          debtorUserId,
          creditorUserId,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          remainingAmount,
          status,
          createdAt,
          sourceTransaction,
          allocations,
          files,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        ledgerTransactionId: { type: string, format: uuid }
        sourceShareId: { type: string, format: uuid, nullable: true }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        remainingAmount: { $ref: "#/components/schemas/DecimalString" }
        status: { $ref: "#/components/schemas/DebtStatus" }
        dueDate: { type: string, format: date, nullable: true }
        createdAt: { type: string, format: date-time }
        settledAt: { type: string, format: date-time, nullable: true }
        sourceTransaction: { $ref: "#/components/schemas/LedgerObligationSourceTransaction" }
        allocations:
          type: array
          items: { $ref: "#/components/schemas/LedgerObligationAllocation" }
    LedgerTransactionObligation:
      type: object
      required:
        [
          id,
          debtorUserId,
          creditorUserId,
          originalAmount,
          originalCurrency,
          settlementAmount,
          settlementCurrency,
          remainingAmount,
          status,
        ]
      properties:
        id: { type: string, format: uuid }
        sourceShareId: { type: string, format: uuid, nullable: true }
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementAmount: { $ref: "#/components/schemas/DecimalString" }
        settlementCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        remainingAmount: { $ref: "#/components/schemas/DecimalString" }
        status: { $ref: "#/components/schemas/DebtStatus" }
    LedgerTransactionSettlement:
      type: object
      required: [id, payerUserId, payeeUserId, amount, currency, method, status]
      properties:
        id: { type: string, format: uuid }
        payerUserId: { type: string, format: uuid }
        payeeUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        method: { type: string }
        paymentReference: { type: string, maxLength: 160, nullable: true }
        status: { $ref: "#/components/schemas/SettlementStatus" }
        note: { type: string, nullable: true }
    LedgerTransaction:
      type: object
      required: [id, householdId, type, occurredAt, createdAt, obligations, settlements]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/LedgerTransactionType" }
        description: { type: string, nullable: true }
        sourceType: { type: string, nullable: true }
        sourceId: { type: string, format: uuid, nullable: true }
        createdByUserId: { type: string, format: uuid, nullable: true }
        occurredAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        reversesTransactionId: { type: string, format: uuid, nullable: true }
        obligations:
          type: array
          items: { $ref: "#/components/schemas/LedgerTransactionObligation" }
        settlements:
          type: array
          items: { $ref: "#/components/schemas/LedgerTransactionSettlement" }
    BalanceListResponse:
      type: object
      required: [balances]
      properties:
        balances:
          type: array
          items: { $ref: "#/components/schemas/BalanceEdge" }
    LedgerObligationListResponse:
      type: object
      required: [obligations, page]
      properties:
        obligations:
          type: array
          items: { $ref: "#/components/schemas/LedgerObligation" }
        page: { $ref: "#/components/schemas/PageInfo" }
    LedgerTransactionListResponse:
      type: object
      required: [transactions, page]
      properties:
        transactions:
          type: array
          items: { $ref: "#/components/schemas/LedgerTransaction" }
        page: { $ref: "#/components/schemas/PageInfo" }
    LedgerTransactionResponse:
      type: object
      required: [transaction]
      properties:
        transaction: { $ref: "#/components/schemas/LedgerTransaction" }
    LedgerPeriodClose:
      type: object
      required:
        [id, householdId, periodMonth, status, closedByUserId, closedAt, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        periodMonth:
          type: string
          pattern: '^\d{4}-(0[1-9]|1[0-2])$'
          examples: ["2026-07"]
        status: { $ref: "#/components/schemas/LedgerPeriodStatus" }
        note: { type: string, maxLength: 500, nullable: true }
        closedByUserId: { type: string, format: uuid }
        closedAt: { type: string, format: date-time }
        reopenedByUserId: { type: string, format: uuid, nullable: true }
        reopenedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    LedgerPeriodCloseListResponse:
      type: object
      required: [periodCloses]
      properties:
        periodCloses:
          type: array
          items: { $ref: "#/components/schemas/LedgerPeriodClose" }
    LedgerPeriodCloseResponse:
      type: object
      required: [periodClose]
      properties:
        periodClose: { $ref: "#/components/schemas/LedgerPeriodClose" }
    CreateLedgerPeriodCloseRequest:
      type: object
      required: [periodMonth]
      properties:
        periodMonth:
          type: string
          pattern: '^\d{4}-(0[1-9]|1[0-2])$'
          examples: ["2026-07"]
        note: { type: string, maxLength: 500 }
    CreateLedgerAdjustmentRequest:
      type: object
      required: [debtorUserId, creditorUserId, amount, currency, occurredAt, reason]
      properties:
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        amount:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          description: Positive adjustment amount, up to six decimal places.
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        occurredAt: { type: string, format: date }
        dueDate: { type: string, format: date }
        reason: { type: string, minLength: 3, maxLength: 500 }
    ReverseLedgerObligationRequest:
      type: object
      required: [reason, occurredAt]
      properties:
        reason: { type: string, minLength: 3, maxLength: 500 }
        occurredAt: { type: string, format: date }
    SettlementAllocation:
      type: object
      required: [id, settlementId, debtObligationId, amountApplied]
      properties:
        id: { type: string, format: uuid }
        settlementId: { type: string, format: uuid }
        debtObligationId: { type: string, format: uuid }
        amountApplied: { $ref: "#/components/schemas/DecimalString" }
    Settlement:
      type: object
      required:
        [
          id,
          householdId,
          ledgerTransactionId,
          payerUserId,
          payeeUserId,
          amount,
          currency,
          settlementDate,
          method,
          status,
          createdByUserId,
          createdAt,
          sourceTransaction,
          allocations,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        ledgerTransactionId: { type: string, format: uuid }
        payerUserId: { type: string, format: uuid }
        payeeUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementDate: { type: string, format: date }
        method: { type: string }
        paymentReference: { type: string, maxLength: 160, nullable: true }
        status: { $ref: "#/components/schemas/SettlementStatus" }
        note: { type: string, nullable: true }
        createdByUserId: { type: string, format: uuid }
        createdAt: { type: string, format: date-time }
        sourceTransaction: { $ref: "#/components/schemas/LedgerObligationSourceTransaction" }
        allocations:
          type: array
          items: { $ref: "#/components/schemas/SettlementAllocation" }
        files:
          type: array
          items: { $ref: "#/components/schemas/SettlementFile" }
    CreateObligationSettlementRequest:
      type: object
      required: [debtObligationId, amount, settlementDate]
      properties:
        debtObligationId: { type: string, format: uuid }
        amount:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          description: Positive amount, up to six decimal places, not exceeding the obligation remaining amount.
        settlementDate: { type: string, format: date }
        method: { type: string, minLength: 1, maxLength: 60, default: manual }
        paymentReference: { type: string, maxLength: 160 }
        note: { type: string, maxLength: 500 }
        fileIds:
          type: array
          description: Optional completed upload IDs to attach as settlement evidence. Files must belong to the household and be uploaded by the submitting user.
          maxItems: 5
          items: { type: string, format: uuid }
    CreateSuggestedSettlementRequest:
      type: object
      required: [payeeUserId, amount, currency, settlementDate]
      properties:
        payeeUserId:
          type: string
          format: uuid
          description: Creditor receiving the suggested transfer.
        amount:
          allOf:
            - { $ref: "#/components/schemas/DecimalString" }
          description: Positive amount, up to six decimal places, not exceeding matching open obligations for the payer, payee, and currency.
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        settlementDate: { type: string, format: date }
        method: { type: string, minLength: 1, maxLength: 60, default: manual }
        paymentReference: { type: string, maxLength: 160 }
        note: { type: string, maxLength: 500 }
        fileIds:
          type: array
          description: Optional completed upload IDs to attach as settlement evidence. Files must belong to the household and be uploaded by the submitting user.
          maxItems: 5
          items: { type: string, format: uuid }
    CreateSettlementRequest:
      oneOf:
        - { $ref: "#/components/schemas/CreateObligationSettlementRequest" }
        - { $ref: "#/components/schemas/CreateSuggestedSettlementRequest" }
    SettlementResponse:
      type: object
      required: [settlement]
      properties:
        settlement: { $ref: "#/components/schemas/Settlement" }
    SettlementListResponse:
      type: object
      required: [settlements, page]
      properties:
        settlements:
          type: array
          items: { $ref: "#/components/schemas/Settlement" }
        page: { $ref: "#/components/schemas/PageInfo" }
    SettlementSuggestion:
      type: object
      required:
        [
          debtorUserId,
          creditorUserId,
          amount,
          currency,
          debtorOpenObligationCount,
          creditorOpenObligationCount,
          directOpenObligationCount,
          directRemainingAmount,
          actionability,
        ]
      properties:
        debtorUserId: { type: string, format: uuid }
        creditorUserId: { type: string, format: uuid }
        amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { $ref: "#/components/schemas/CurrencyCode" }
        debtorOpenObligationCount: { type: integer, minimum: 1 }
        creditorOpenObligationCount: { type: integer, minimum: 1 }
        directOpenObligationCount: { type: integer, minimum: 0 }
        directRemainingAmount: { $ref: "#/components/schemas/DecimalString" }
        actionability:
          type: string
          enum: [DIRECTLY_SETTLEABLE, CLEARING_SETTLEABLE, GUIDANCE_ONLY]
    SettlementSuggestionListResponse:
      type: object
      required: [suggestions]
      properties:
        suggestions:
          type: array
          items: { $ref: "#/components/schemas/SettlementSuggestion" }
    CalendarEventLink:
      type: object
      required: [id, eventId, linkedType, linkedId, createdAt]
      properties:
        id: { type: string, format: uuid }
        eventId: { type: string, format: uuid }
        linkedType:
          type: string
          examples: [task, expense_proposal]
        linkedId: { type: string, format: uuid }
        createdAt: { type: string, format: date-time }
    RecurringExpenseTemplate:
      type: object
      required: [id, eventId, originalAmount, originalCurrency, participantUserIds]
      properties:
        id: { type: string, format: uuid }
        eventId: { type: string, format: uuid }
        title: { type: string, nullable: true, maxLength: 120 }
        description: { type: string, nullable: true, maxLength: 1000 }
        merchant: { type: string, nullable: true, maxLength: 120 }
        categoryId: { type: string, format: uuid, nullable: true }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        fxRate:
          allOf:
            - { $ref: "#/components/schemas/FxRateString" }
          nullable: true
        participantUserIds:
          type: array
          minItems: 1
          maxItems: 20
          items: { type: string, format: uuid }
    RecurringExpenseTemplateInput:
      type: object
      required: [originalAmount, originalCurrency, participantUserIds]
      properties:
        title: { type: string, maxLength: 120 }
        description: { type: string, maxLength: 1000 }
        merchant: { type: string, maxLength: 120 }
        categoryId: { type: string, format: uuid }
        originalAmount: { $ref: "#/components/schemas/DecimalString" }
        originalCurrency: { $ref: "#/components/schemas/CurrencyCode" }
        fxRate: { $ref: "#/components/schemas/FxRateString" }
        participantUserIds:
          type: array
          minItems: 1
          maxItems: 20
          items: { type: string, format: uuid }
    CalendarEvent:
      type: object
      required:
        [
          id,
          householdId,
          type,
          title,
          startAt,
          allDay,
          timezone,
          status,
          createdAt,
          updatedAt,
          recurringExpenseTemplate,
          links,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/CalendarEventType" }
        title: { type: string }
        description: { type: string, nullable: true }
        startAt: { type: string, format: date-time }
        endAt: { type: string, format: date-time, nullable: true }
        allDay: { type: boolean }
        timezone: { type: string, example: America/Los_Angeles }
        status: { $ref: "#/components/schemas/WorkItemStatus" }
        createdByUserId: { type: string, format: uuid, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        recurringExpenseTemplate:
          allOf:
            - { $ref: "#/components/schemas/RecurringExpenseTemplate" }
          nullable: true
        links:
          type: array
          items: { $ref: "#/components/schemas/CalendarEventLink" }
    CreateCalendarEventRequest:
      type: object
      required: [title, startAt]
      properties:
        title: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string, maxLength: 1000 }
        type:
          allOf:
            - { $ref: "#/components/schemas/CalendarEventType" }
          default: GROUP_ACTIVITY
        startAt: { type: string, format: date-time }
        endAt: { type: string, format: date-time }
        allDay: { type: boolean, default: false }
        recurrenceFrequency:
          allOf:
            - { $ref: "#/components/schemas/RecurrenceFrequency" }
          default: NONE
          description: Finite recurrence cadence. Count includes the first created event.
        recurrenceCount:
          type: integer
          minimum: 1
          maximum: 12
          default: 1
        recurringExpenseTemplate:
          allOf:
            - { $ref: "#/components/schemas/RecurringExpenseTemplateInput" }
          description: Optional auto-generation template for RECURRING_EXPENSE_GENERATION events. The server copies it to each materialized recurrence instance and the recurring-expense job creates one pending proposal per due event.
    UpdateCalendarEventRequest:
      type: object
      required: [title, startAt]
      properties:
        title: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string, maxLength: 1000 }
        type:
          allOf:
            - { $ref: "#/components/schemas/CalendarEventType" }
          default: GROUP_ACTIVITY
        startAt: { type: string, format: date-time }
        endAt: { type: string, format: date-time }
        allDay: { type: boolean, default: false }
    CalendarEventResponse:
      type: object
      required: [event]
      properties:
        event: { $ref: "#/components/schemas/CalendarEvent" }
    CalendarEventListResponse:
      type: object
      required: [events, page]
      properties:
        events:
          type: array
          items: { $ref: "#/components/schemas/CalendarEvent" }
        page: { $ref: "#/components/schemas/PageInfo" }
    TaskAssignment:
      type: object
      required: [id, taskId, assignedUserId, role, status]
      properties:
        id: { type: string, format: uuid }
        taskId: { type: string, format: uuid }
        assignedUserId: { type: string, format: uuid }
        role: { type: string, default: OWNER }
        status: { type: string, examples: [ASSIGNED, COMPLETED] }
    Task:
      type: object
      required:
        [
          id,
          householdId,
          title,
          status,
          priority,
          createdByUserId,
          createdAt,
          updatedAt,
          assignments,
          linkedEventIds,
          linkedProposalIds,
        ]
      properties:
        id: { type: string, format: uuid }
        householdId: { type: string, format: uuid }
        title: { type: string }
        description: { type: string, nullable: true }
        status: { $ref: "#/components/schemas/WorkItemStatus" }
        priority: { $ref: "#/components/schemas/TaskPriority" }
        categoryId: { type: string, format: uuid, nullable: true }
        dueAt: { type: string, format: date-time, nullable: true }
        createdByUserId: { type: string, format: uuid }
        completedByUserId: { type: string, format: uuid, nullable: true }
        completedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        assignments:
          type: array
          items: { $ref: "#/components/schemas/TaskAssignment" }
        linkedEventIds:
          type: array
          items: { type: string, format: uuid }
        linkedProposalIds:
          type: array
          items: { type: string, format: uuid }
    CreateTaskRequest:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string, maxLength: 1000 }
        priority:
          allOf:
            - { $ref: "#/components/schemas/TaskPriority" }
          default: NORMAL
        categoryId: { type: string, format: uuid }
        dueAt: { type: string, format: date-time }
        assignedUserIds:
          type: array
          maxItems: 20
          items: { type: string, format: uuid }
        recurrenceFrequency:
          allOf:
            - { $ref: "#/components/schemas/RecurrenceFrequency" }
          default: NONE
          description: Finite recurrence cadence. Count includes the first created task and requires dueAt when not NONE.
        recurrenceCount:
          type: integer
          minimum: 1
          maximum: 12
          default: 1
    UpdateTaskRequest:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 2, maxLength: 120 }
        description: { type: string, maxLength: 1000 }
        priority:
          allOf:
            - { $ref: "#/components/schemas/TaskPriority" }
          default: NORMAL
        categoryId: { type: string, format: uuid, nullable: true }
        dueAt: { type: string, format: date-time }
        assignedUserIds:
          type: array
          maxItems: 20
          items: { type: string, format: uuid }
    CompleteTaskRequest:
      type: object
      properties:
        completedAt: { type: string, format: date-time }
    TaskResponse:
      type: object
      required: [task]
      properties:
        task: { $ref: "#/components/schemas/Task" }
    TaskListResponse:
      type: object
      required: [tasks, page]
      properties:
        tasks:
          type: array
          items: { $ref: "#/components/schemas/Task" }
        page: { $ref: "#/components/schemas/PageInfo" }
    DeleteCalendarEventResponse:
      type: object
      required: [eventId, deleted]
      properties:
        eventId: { type: string, format: uuid }
        deleted: { type: boolean }
    DeleteTaskResponse:
      type: object
      required: [taskId, deleted]
      properties:
        taskId: { type: string, format: uuid }
        deleted: { type: boolean }
    OpsHealthState:
      type: string
      enum: [ok, warning, unknown]
    OpsSmokeState:
      type: string
      enum: [passed, failed, missing, unknown]
    OpsRestoreDrillState:
      type: string
      enum: [passed, failed, missing, unknown]
    OpsBackupEncryptionMode:
      type: string
      enum: [enabled, disabled, unknown]
    OpsBackupOffsiteMode:
      type: string
      enum: [disabled, local, rclone, unknown]
    OpsDockerStorageCategory:
      type: object
      required: [totalCount, activeCount, sizeBytes, reclaimableBytes, reclaimablePercent]
      properties:
        totalCount: { type: integer }
        activeCount: { type: integer }
        sizeBytes: { type: integer }
        reclaimableBytes: { type: integer }
        reclaimablePercent:
          type: number
          nullable: true
    OpsSmokeCheck:
      type: object
      required: [path, status, httpStatus, message]
      properties:
        path: { type: string, example: /api/v1/health }
        status:
          type: string
          enum: [passed, failed]
        httpStatus:
          type: integer
          nullable: true
        message:
          type: string
          nullable: true
    OpsStatusSnapshot:
      type: object
      required:
        [
          schemaVersion,
          source,
          generatedAt,
          summary,
          statusFile,
          disk,
          rootStorageInventory,
          diskTrend,
          dockerStorage,
          dockerImageInventory,
          containerHealth,
          opsStatusTimer,
          opsStatusService,
          backupTimer,
          backupService,
          reminderTimer,
          reminderService,
          housekeepingTimer,
          housekeepingService,
          backupEncryption,
          backupOffsite,
          smokeTimer,
          smokeService,
          latestSmoke,
          latestRestoreDrill,
        ]
      properties:
        schemaVersion: { type: integer, enum: [1] }
        source:
          type: string
          enum: [host_status_file, runtime_fallback]
        generatedAt: { type: string, format: date-time }
        summary:
          type: object
          required: [status, warnings]
          properties:
            status: { $ref: "#/components/schemas/OpsHealthState" }
            warnings:
              type: array
              items: { type: string }
        statusFile:
          type: object
          required: [path, loaded, error]
          properties:
            path:
              type: string
              nullable: true
            loaded: { type: boolean }
            error:
              type: string
              nullable: true
        disk:
          type: object
          required:
            [path, sizeBytes, usedBytes, availableBytes, usedPercent, status, checkedAt, error]
          properties:
            path: { type: string, example: / }
            sizeBytes: { type: integer, nullable: true }
            usedBytes: { type: integer, nullable: true }
            availableBytes: { type: integer, nullable: true }
            usedPercent: { type: number, nullable: true }
            status: { $ref: "#/components/schemas/OpsHealthState" }
            checkedAt:
              type: string
              format: date-time
              nullable: true
            error:
              type: string
              nullable: true
        rootStorageInventory:
          type: object
          required: [topLimit, timeoutMs, totalBytes, paths, status, checkedAt, error]
          properties:
            topLimit: { type: integer, example: 8 }
            timeoutMs: { type: integer, example: 60000 }
            totalBytes: { type: integer, example: 36378447872 }
            paths:
              type: array
              items:
                type: object
                required: [path, sizeBytes]
                properties:
                  path: { type: string, example: /var/lib/containerd }
                  sizeBytes: { type: integer, example: 30064771072 }
            status: { $ref: "#/components/schemas/OpsHealthState" }
            checkedAt:
              type: string
              format: date-time
              nullable: true
            error:
              type: string
              nullable: true
        diskTrend:
          type: object
          required:
            [
              status,
              historyFile,
              sampleCount,
              oldestCheckedAt,
              newestCheckedAt,
              windowHours,
              availableChangeBytes,
              usedChangeBytes,
              usedPercentChange,
              averageUsedBytesPerDay,
              estimatedDaysUntilFull,
              warningDays,
              minimumWindowHours,
              checkedAt,
              error,
            ]
          properties:
            status: { $ref: "#/components/schemas/OpsHealthState" }
            historyFile: { type: string, example: ops/status/disk-history.json }
            sampleCount: { type: integer, example: 96 }
            oldestCheckedAt:
              type: string
              format: date-time
              nullable: true
            newestCheckedAt:
              type: string
              format: date-time
              nullable: true
            windowHours:
              type: number
              nullable: true
            availableChangeBytes:
              type: integer
              nullable: true
            usedChangeBytes:
              type: integer
              nullable: true
            usedPercentChange:
              type: number
              nullable: true
            averageUsedBytesPerDay:
              type: integer
              nullable: true
            estimatedDaysUntilFull:
              type: number
              nullable: true
            warningDays: { type: number, example: 14 }
            minimumWindowHours: { type: number, example: 6 }
            checkedAt:
              type: string
              format: date-time
              nullable: true
            error:
              type: string
              nullable: true
        dockerStorage:
          type: object
          required:
            [
              images,
              containers,
              localVolumes,
              buildCache,
              totalReclaimableBytes,
              safeReclaimableBytes,
              unsafeReclaimableBytes,
              reclaimableWarningBytes,
              status,
              checkedAt,
              error,
            ]
          properties:
            images: { $ref: "#/components/schemas/OpsDockerStorageCategory" }
            containers: { $ref: "#/components/schemas/OpsDockerStorageCategory" }
            localVolumes: { $ref: "#/components/schemas/OpsDockerStorageCategory" }
            buildCache: { $ref: "#/components/schemas/OpsDockerStorageCategory" }
            totalReclaimableBytes: { type: integer }
            safeReclaimableBytes: { type: integer }
            unsafeReclaimableBytes: { type: integer }
            reclaimableWarningBytes: { type: integer }
            status: { $ref: "#/components/schemas/OpsHealthState" }
            checkedAt:
              type: string
              format: date-time
              nullable: true
            error:
              type: string
              nullable: true
        dockerImageInventory:
          type: object
          required:
            [
              topLimit,
              totalImageBytes,
              activeImageBytes,
              inactiveImageBytes,
              safeReclaimableImageBytes,
              images,
              reclaimableCandidates,
              status,
              checkedAt,
              error,
            ]
          properties:
            topLimit: { type: integer, example: 8 }
            totalImageBytes: { type: integer, example: 32126369792 }
            activeImageBytes: { type: integer, example: 32126369792 }
            inactiveImageBytes: { type: integer, example: 0 }
            safeReclaimableImageBytes: { type: integer, example: 0 }
            images:
              type: array
              items:
                type: object
                required: [repository, tag, imageId, reference, sizeBytes, containers, createdAt]
                properties:
                  repository: { type: string, example: aialra/pdf-onlyoffice }
                  tag: { type: string, example: local }
                  imageId: { type: string, example: 4fa60ef14f9d }
                  reference: { type: string, example: aialra/pdf-onlyoffice:local }
                  sizeBytes: { type: integer, example: 6109593600 }
                  containers: { type: integer, example: 1 }
                  createdAt:
                    type: string
                    nullable: true
            reclaimableCandidates:
              type: array
              items:
                type: object
                required: [repository, tag, imageId, reference, sizeBytes, containers, createdAt]
                properties:
                  repository: { type: string, example: roompire-migrator }
                  tag: { type: string, example: latest }
                  imageId: { type: string, example: 057824ccd253 }
                  reference: { type: string, example: roompire-migrator:latest }
                  sizeBytes: { type: integer, example: 406847488 }
                  containers: { type: integer, example: 0 }
                  createdAt:
                    type: string
                    nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            checkedAt:
              type: string
              format: date-time
              nullable: true
            error:
              type: string
              nullable: true
        containerHealth:
          type: object
          required: [containers, status, checkedAt, error]
          properties:
            containers:
              type: array
              items:
                type: object
                required:
                  [
                    name,
                    image,
                    state,
                    running,
                    health,
                    restartCount,
                    startedAt,
                    finishedAt,
                    status,
                    error,
                  ]
                properties:
                  name: { type: string, example: roompire-web-1 }
                  image: { type: string, example: roompire-web:latest }
                  state: { type: string, example: running }
                  running: { type: boolean, example: true }
                  health: { type: string, example: healthy }
                  restartCount: { type: integer, example: 0 }
                  startedAt:
                    type: string
                    format: date-time
                    nullable: true
                  finishedAt:
                    type: string
                    format: date-time
                    nullable: true
                  status: { $ref: "#/components/schemas/OpsHealthState" }
                  error:
                    type: string
                    nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            checkedAt:
              type: string
              format: date-time
              nullable: true
            error:
              type: string
              nullable: true
        opsStatusTimer:
          type: object
          required: [name, activeState, enabledState, nextElapse, lastTrigger, status, error]
          properties:
            name: { type: string, example: roompire-ops-status.timer }
            activeState: { type: string, example: active }
            enabledState: { type: string, example: enabled }
            nextElapse:
              type: string
              nullable: true
            lastTrigger:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        opsStatusService:
          type: object
          required:
            [name, activeState, result, execMainStatus, startedAt, finishedAt, status, error]
          properties:
            name: { type: string, example: roompire-ops-status.service }
            activeState: { type: string, example: inactive }
            result: { type: string, example: success }
            execMainStatus: { type: string, example: "0" }
            startedAt:
              type: string
              nullable: true
            finishedAt:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        backupTimer:
          type: object
          required: [name, activeState, enabledState, nextElapse, lastTrigger, status, error]
          properties:
            name: { type: string, example: roompire-backup.timer }
            activeState: { type: string, example: active }
            enabledState: { type: string, example: enabled }
            nextElapse:
              type: string
              nullable: true
            lastTrigger:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        backupService:
          type: object
          required:
            [name, activeState, result, execMainStatus, startedAt, finishedAt, status, error]
          properties:
            name: { type: string, example: roompire-backup.service }
            activeState: { type: string, example: inactive }
            result: { type: string, example: success }
            execMainStatus: { type: string, example: "0" }
            startedAt:
              type: string
              nullable: true
            finishedAt:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        reminderTimer:
          type: object
          required: [name, activeState, enabledState, nextElapse, lastTrigger, status, error]
          properties:
            name: { type: string, example: roompire-reminders.timer }
            activeState: { type: string, example: active }
            enabledState: { type: string, example: enabled }
            nextElapse:
              type: string
              nullable: true
            lastTrigger:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        reminderService:
          type: object
          required:
            [name, activeState, result, execMainStatus, startedAt, finishedAt, status, error]
          properties:
            name: { type: string, example: roompire-reminders.service }
            activeState: { type: string, example: inactive }
            result: { type: string, example: success }
            execMainStatus: { type: string, example: "0" }
            startedAt:
              type: string
              nullable: true
            finishedAt:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        housekeepingTimer:
          type: object
          required: [name, activeState, enabledState, nextElapse, lastTrigger, status, error]
          properties:
            name: { type: string, example: roompire-housekeeping.timer }
            activeState: { type: string, example: active }
            enabledState: { type: string, example: enabled }
            nextElapse:
              type: string
              nullable: true
            lastTrigger:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        housekeepingService:
          type: object
          required:
            [name, activeState, result, execMainStatus, startedAt, finishedAt, status, error]
          properties:
            name: { type: string, example: roompire-housekeeping.service }
            activeState: { type: string, example: inactive }
            result: { type: string, example: success }
            execMainStatus: { type: string, example: "0" }
            startedAt:
              type: string
              nullable: true
            finishedAt:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        backupEncryption:
          type: object
          required:
            [
              backupRoot,
              configured,
              passphraseFileConfigured,
              passphraseFileExists,
              encryptedArtifacts,
              plaintextArtifacts,
              missingSha256Sidecars,
              latestEncryptedArtifact,
              status,
              checkedAt,
              error,
            ]
          properties:
            backupRoot: { type: string, example: /srv/aialra/backups/roompire }
            configured: { $ref: "#/components/schemas/OpsBackupEncryptionMode" }
            passphraseFileConfigured: { type: boolean }
            passphraseFileExists:
              type: boolean
              nullable: true
            encryptedArtifacts: { type: integer }
            plaintextArtifacts: { type: integer }
            missingSha256Sidecars: { type: integer }
            latestEncryptedArtifact:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            checkedAt:
              type: string
              format: date-time
              nullable: true
            error:
              type: string
              nullable: true
        backupOffsite:
          type: object
          required:
            [
              mode,
              configured,
              targetConfigured,
              target,
              statusFile,
              lastSyncAt,
              artifactCount,
              totalBytes,
              latestArtifact,
              status,
              checkedAt,
              error,
            ]
          properties:
            mode: { $ref: "#/components/schemas/OpsBackupOffsiteMode" }
            configured: { type: boolean }
            targetConfigured: { type: boolean }
            target:
              type: string
              nullable: true
              example: local:/mnt/roompire-offsite
            statusFile:
              type: string
              example: ops/status/backup-offsite.json
            lastSyncAt:
              type: string
              format: date-time
              nullable: true
            artifactCount: { type: integer }
            totalBytes: { type: integer }
            latestArtifact:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            checkedAt:
              type: string
              format: date-time
              nullable: true
            error:
              type: string
              nullable: true
        smokeTimer:
          type: object
          required: [name, activeState, enabledState, nextElapse, lastTrigger, status, error]
          properties:
            name: { type: string, example: roompire-smoke.timer }
            activeState: { type: string, example: active }
            enabledState: { type: string, example: enabled }
            nextElapse:
              type: string
              nullable: true
            lastTrigger:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        smokeService:
          type: object
          required:
            [name, activeState, result, execMainStatus, startedAt, finishedAt, status, error]
          properties:
            name: { type: string, example: roompire-smoke.service }
            activeState: { type: string, example: inactive }
            result: { type: string, example: success }
            execMainStatus: { type: string, example: "0" }
            startedAt:
              type: string
              nullable: true
            finishedAt:
              type: string
              nullable: true
            status: { $ref: "#/components/schemas/OpsHealthState" }
            error:
              type: string
              nullable: true
        latestSmoke:
          type: object
          required: [status, generatedAt, baseUrl, checks, failedPath, message]
          properties:
            status: { $ref: "#/components/schemas/OpsSmokeState" }
            generatedAt:
              type: string
              format: date-time
              nullable: true
            baseUrl:
              type: string
              nullable: true
            checks:
              type: array
              items: { $ref: "#/components/schemas/OpsSmokeCheck" }
            failedPath:
              type: string
              nullable: true
            message:
              type: string
              nullable: true
        latestRestoreDrill:
          type: object
          required:
            [
              status,
              generatedAt,
              backupFile,
              drillDatabase,
              auditTotal,
              auditHashed,
              auditBroken,
              message,
            ]
          properties:
            status: { $ref: "#/components/schemas/OpsRestoreDrillState" }
            generatedAt:
              type: string
              format: date-time
              nullable: true
            backupFile:
              type: string
              nullable: true
              example: /srv/aialra/backups/roompire/postgres/roompire_20260706T041700Z.dump.enc
            drillDatabase:
              type: string
              nullable: true
              example: roompire_restore_drill_20260706T041702Z_1234
            auditTotal:
              type: integer
              nullable: true
            auditHashed:
              type: integer
              nullable: true
            auditBroken:
              type: integer
              nullable: true
            message:
              type: string
              nullable: true
    OpsStatusResponse:
      type: object
      required: [status]
      properties:
        status: { $ref: "#/components/schemas/OpsStatusSnapshot" }
    HealthResponse:
      type: object
      required: [status, checks, timestamp, durationMs]
      properties:
        status:
          type: string
          enum: [ok, unhealthy]
        checks:
          type: object
          required: [database, exports, fx, storage, webPush]
          properties:
            database: { type: string, enum: [ok, error] }
            exports: { type: string, enum: [ok, error] }
            fx: { type: string, enum: [ok, error] }
            storage: { type: string, enum: [ok, error] }
            webPush: { type: string, enum: [ok, disabled, error] }
        timestamp: { type: string, format: date-time }
        durationMs: { type: integer, minimum: 0 }
paths:
  /session:
    get:
      summary: Get current session
      responses:
        "200":
          description: Current session
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SessionResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    patch:
      summary: Set active household for the current browser session
      description: Stores the selected active household in a secure session cookie after verifying the current user is an active member.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateSessionRequest" }
      responses:
        "200":
          description: Active household updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SessionResponse" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Household not found or inaccessible
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /users/me:
    get:
      summary: Get current user profile and notification preferences
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CurrentUserResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    patch:
      summary: Update current user profile and notification preferences
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateCurrentUserRequest" }
      responses:
        "200":
          description: User settings updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CurrentUserResponse" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /notifications:
    get:
      summary: List current user's in-app notifications
      description: Returns cursor-paginated notifications for households where the current user is still an active member.
      parameters:
        - in: query
          name: cursor
          schema: { type: string, format: uuid }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationsListResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /notifications/push-subscriptions:
    get:
      summary: Get browser push subscription settings
      description: Returns whether Web Push is configured, the VAPID public key when enabled, delivery mode, and the current user's active subscription count.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PushSubscriptionSettingsResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      summary: Register or refresh a browser push subscription
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PushSubscriptionRequest" }
      responses:
        "201":
          description: Subscription saved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PushSubscriptionResponse" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403": { $ref: "#/components/responses/CsrfForbidden" }
        "503":
          description: Web Push is not configured
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    delete:
      summary: Disable a browser push subscription for the current user
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeletePushSubscriptionRequest" }
      responses:
        "200":
          description: Subscription disabled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeletePushSubscriptionResponse" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403": { $ref: "#/components/responses/CsrfForbidden" }
  /notifications/{notificationId}:
    patch:
      summary: Mark a current user's notification read or unread
      parameters:
        - in: path
          name: notificationId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateNotificationRequest" }
      responses:
        "200":
          description: Notification updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationResponse" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Notification not found or inaccessible
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /dev/session:
    post:
      summary: Set local developer session user
      description: Dev-only endpoint for local MVP testing. Disabled in production unless explicitly enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DevSessionRequest" }
      responses:
        "200": { description: Developer session set }
        "429": { $ref: "#/components/responses/RateLimited" }
  /health:
    get:
      summary: Get application health
      description: Returns app dependency health, including database, storage, export signing, FX provider configuration, and optional Web Push configuration.
      responses:
        "200":
          description: Healthy or optional delivery channels disabled
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HealthResponse" }
        "503":
          description: Required dependency or configured optional channel is unhealthy
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HealthResponse" }
  /ops/status:
    get:
      summary: Get server ops health
      description: Returns the latest host-generated operational snapshot for the self-hosted deployment. Only the configured site-gate owner or household owners/admins may read it.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OpsStatusResponse" }
        "401":
          description: Authentication required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Caller is not allowed to view ops health
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
  /households:
    get:
      summary: List current user's households
      responses:
        "200":
          description: OK
          content:
[...]
